/* analyse */
dl dd a{
	color: #fff;
}

.analyse{
	position: relative;
	margin-top: 90px;
	padding: 70px 0;
	width: 100%;
}
.analyse .remind>div{
	/*display: inline-block;*/
	/*float: left;*/
	background-color: red;
}
@media (max-width: 767px){
	.analyse{margin-top: 50px;}
}
.analyse .analyse-left{
	position: relative;
	height: 700px;
	border-right: 2px dashed #5CB7EE;

/* 	padding-top: 50px;
padding-bottom: 50px; */
	/* color:#f5f5f5;
	background: #292421; */
}
/*.analyse .analyse-left .btn1{
	width: 500px !important;
	height:90px;
}*/
.analyse .analyse-left .analyse-menu-head{
	margin-bottom: 50px;
	padding-left: 40px;
}



.analyse .analyse-left dl{
	/* margin:25px auto;
	width: 120px; */
	margin-bottom: 20px;
	padding-left: 40px;
}
.analyse .analyse-left dt{
	position: relative;
	color: rgba(92, 161, 228, 1);
    font-size: 18px;
	letter-spacing: 2px;
	line-height: 40px;
	cursor: pointer;
}
.analyse .analyse-left dd{
	color: rgba(124, 181, 236, 1);
    font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.analyse .analyse-left dd a{
	cursor: pointer;
}
.analyse .analyse-left dt i{
	position: absolute;
	left: -30px;
	top:11px;
}
.analyse .analyse-right{
	position: relative;
	height: 700px;
	/*margin-top: 30px;*/
	/* overflow-y:auto;  */
}
.analyse .analyse-right .analyse-charts-title{
	margin: 0 0 50px;
	text-align:center;
	color:#b22;
	letter-spacing: 2px;
}
.analyse .analyse-right .mb0{
	margin-bottom: 0;
}
.analyse .analyse-right .table-responsive{
	height: 600px;
	overflow-y:auto; 
}
/* .analyse .analyse-right .analyse-charts-title:after{
	content: '';
	display: inline-block;
	width: 100px;
	height: 2px;
	background: #b22;
	text-align: center;
	
} */
#total_revenue_rate_1 ul {
	width: 240px;
	margin: 100px auto 30px;
	list-style: none;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 1px;
}
#total_revenue_rate_1  a{
	width: 240px;
	font-size: 18px;
	letter-spacing: 2px;
}
#info_ratio_1 p,#volatility p{
	line-height: 30px;
	color: #333;
	font-size: 18px;
	letter-spacing: 2px;
}
.analyse .white-blue{
	color:rgb(124, 181, 236);
}

.analyse .font-black{
	color:#333;
}
.analyse .red{
	color:#FD2E2E;
}
.analyse .blue{
	color:  rgb(102,153,255);
}
.analyse .green{
	color:#393;
}
 .analyse .orange{
	color:orange;
}
#analyse-modal .modal-box{
	padding:20px;
}
#analyse-modal .modal-box textarea{
	width: 100%;
	height:300px;
	resize: none;
}
.mr30{
	margin-right: 30px;
}
.highstock-item{
	width: 90%;
	margin: 0 auto 10px;
}