/*公共样式*/
body, html {
	/* font-family: 'webfont', Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-family: SourceHanSans-Normal, -apple-system, Helvetica Neue,
	PingFang SC, Source Han Sans SC, Noto Sans CJK SC, Source Han Sans CN,
	Source Han Sans TC, "Microsoft Yahei", sans-serif, Verdana, Arial,
	Helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	color:#555;
}
a:focus,button:focus,input:focus{
	outline: none;
}
.zijin-main-wrapper{
	min-height: 100%;
	height: auto!important;
	height: 100%;
}
.w50 {
	display: inline-block;
	width: 50px;
}
/* 导航 */

.main-navbar {
	margin-bottom: 0;
	z-index: 1000;
	background: -webkit-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: -moz-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: -o-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E
	100%);
	-moz-box-shadow: 10px 10px 10px #000;
	-webkit-box-shadow: 10px 10px 10px #000;
	box-shadow: 1px 1px 2px #797979;
	font-size: 16px;
}
.transparent{
	min-height: 100%;
	height: auto!important;
	height: 100%;
}
.transparent .main-navbar{
	background: transparent;
	box-shadow: none;
	border: none;
}

.main-navbar .navbar-default {
	background: transparent;
}

.main-navbar .navbar-brand {
	padding:0;
	color: #fff0f5;
	font-weight: 600;
}

.main-navbar .navbar {
	margin-bottom: 0;
	border: none;
}

.main-navbar .navbar-nav>li>a {
	text-align: center;
	cursor: pointer;
	color: #fafff0;
}


.main-navbar .navbar-nav>li>a:focus{
	color: #fafff0;
	outline: none;
}
.main-navbar.navbar-default .navbar-brand:focus, .main-navbar.navbar-default .navbar-brand:hover {
	color: #fff0f5;
	background-color: transparent;
	outline: none;
}
/* .main-navbar .navbar-nav>li>a:hover,.main-navbar .navbar-nav>li>a:focus,.main-navbar .navbar-nav>li>a:active,.main-navbar .navbar-nav>li>a:visited{
	font-weight: 700;
	color: #ffd700;
} */
.main-navbar  .navbar-brand img{
	width: auto;
	height: 100%;
}
.left-nav li a{
	font-size: 15px;
}
.main-navbar .left-nav>li>a:hover {
	color: #fff;
	/* background: rgba(255, 255, 255, .1); */
}
@media (max-width: 767px){
	.main-navbar .navbar-collapse{
		background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E 100%);
		padding-bottom: 50px;
	}
}
@media ( min-width : 768px) {
	.main-navbar .left-nav>li>a:hover {
		color: #fff;
		/* font-weight: 700; */
		/* background: rgba(255, 255, 255, .1); */
	}
	.main-navbar .navbar-right>li>a:hover {
		color: #fff;
	}
	.main-navbar .navbar-nav>li>a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.navbar .navbar-brand {
		width: 70px;
		height: 70px;
	}
	.navbar>.container-fluid .navbar-brand:hover {
		color: #fff;
	}
	.main-navbar .navbar-nav>li>a.login-btn {
		text-align: right;
	}
	.main-navbar .navbar-nav>li>a.reg-btn {
		text-align: left;
	}
	.main-navbar a.reg-btn:before {
		content: '|';
		font-weight: bold;
		color: #fff;
		position: absolute;
		left: -2px;
	}
}

.main-navbar .navbar-nav>li>a.active {
	font-weight: 700;
	color: #ffd700;
}

.main-navbar .navbar-right>li>a {
	/*padding: 15px 25px;*/
	margin: 0 auto;
	/* width: 80px; */
	color: #f0f8ff;
	border: none;
}

.main-navbar .navbar-default .navbar-nav>.open>a {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
}

.main-navbar .navbar-right .btn-primary {
	background: #708069;
}

.main-navbar .navbar-right .btn-success {
	background: #4682b4;
}
/* .main-navbar .navbar-right>li>a:hover{
	background: #00ced1;
	color: #fafff0;
} */
.main-navbar .left-nav>li>a.red-text {
	font-weight: bold;
	color: #00c78c;
}

.navbar-default.main-navbar .navbar-nav > .open > a, .navbar-default.main-navbar .navbar-nav > .open > a:focus, .navbar-default.main-navbar .navbar-nav > .open > a:hover {
	background-color: rgba(255,255,255,.2);
	color: #fff;
}

/* footer */
.zijin-ngview{
	padding-bottom:309px
}
.main-navbar .navbar-nav>li>.dropdown-menu{
	background: transparent;
}
.main-navbar .dropdown-menu>li{
	cursor:pointer;
}
.main-navbar .dropdown-menu>li>a{
	background: #13285F;
	color: #fff;
}
.main-navbar  .dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}
@media (max-width: 767px){
	.main-navbar .navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}

}

footer {
	margin-top:-308px;
	clear:both;
	position:relative;
	z-index:50;
	/* padding-top: 30px; */
	text-align: center;
	border-top: 2px solid #dcdcdc;
}

footer .bill-footer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #f5f5ff;
	background: #292421;
}
@media (max-width:767px){
	footer .bill-footer >.col-sm-4{margin-bottom:25px;}
}
footer .copyright {
	padding-top: 20px;
	padding-bottom: 10px;
	color: #fffafa;
	background: -webkit-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: -moz-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: -o-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
	#000A2E 100%);
	background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E
	100%);
}
footer .copyright p{
	margin: 0;
}
footer .footer-text-head {
	margin-bottom: 30px;
	color: #fff;
	font-size: 20px;
}
footer .bill-footer p{
	text-align: left;
}
@media (max-width: 767px){
	footer .bill-footer p{text-align: center;}
	footer .bill-footer .col-sm-2{margin-bottom: 30px;}
}
footer .bill-footer p a{
	color: #ccc;
}
footer .bill-footer p a:hover{
	color:#fff;
	text-decoration:none;
}
footer .bill-footer .zijin-footer-itembox{
	display: inline-block;
}
footer .bill-footer .zijin-footer-logo{
	position: absolute;
	top: 20px;
	left: 50px;
	width: 150px;
	height: auto;
}
/* footer .footer-text-head .glyphicon {
	font-size: 30px;
	color: #0b1746;
	margin-right: 20px;
	vertical-align: middle;
}

footer .footer-text-head span {
	vertical-align: middle;
} */
/* 弹出框 */
#zijin-modal{
	display: none;
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 100px;
}
#zijin-modal h4{
	padding: 50px 0;
	color:#000;
	background: #eee;
	border:2px solid #080;
	letter-spacing: 2px;
	border-radius: 6px;
}
/* move-bar */
#move-box{
	position: absolute;
	display: inline-block;
	top: 10%;
	left: 10%;
	width: 88%;
	height: 80%;
	background: #E15671;
	border-radius: 8px;
	z-index: -1;
	box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 2px;
}
.infinite{
	animation: gelatine .5s infinite;
}
.main-navbar .list-group{
	display: none;
	position: absolute;
	font-size: 14px;
	letter-spacing: 2px;
	width: 120%;
	min-width: 160px;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	top: 70px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
}
@media (max-width: 767px){
	.main-navbar .list-group{
		width: 30%;

		margin: 0 auto;
		position: relative;
		top:10px;
		left: -80px;
	}
}

.main-navbar .list-group:after{
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0 8px 8px;
	border-color: transparent transparent #fff;
	border-style: solid;
	top: -8px;
	right: 30px;
}
.main-navbar .list-group i{
	position: absolute;
	top: 7px;
	left: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.main-navbar .list-group .logout-icon{
	background: url(../images/iocn_sprite_032.png) -30px -222px no-repeat;
}
.main-navbar .list-group .info-icon{
	background: url(../images/iocn_sprite_032.png) -171px -140px no-repeat;
}
.main-navbar .list-group span{
	display: inline-block;
	vertical-align: middle;
}
.main-navbar .list-group-item{
	position: relative;
	border:none;
	text-align: center;
	padding: 5px 0 ;
	letter-spacing: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: transparent
}

::-webkit-scrollbar-thumb {
	background: #999
}
::-webkit-scrollbar-thumb{height: 50px; background-color: #666; -webkit-border-radius: 3px;}
HTML {
	scrollbar-base-color: #C0C0C0;
	scrollbar-base-color: #C0C0C0;
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-track-color: #EBEBEB;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #C0C0C0;
	scrollbar-dark-shadow-color: #C0C0C0;
}

/* @media (min-width: 768px){
	.main-navbar .list-group-item{
		padding: 5px 15px;
		text-align: center;
	}
	.main-navbar .list-group i{
		float: left;
		margin-top: 2px;
	}
} */
@keyframes gelatine {
	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}

	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}
}
@-webkit-keyframes gelatine {
	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}

	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}
}
@-moz-keyframes gelatine {
	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}

	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}
}
@-o-keyframes gelatine {
	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}

	from, to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	25% {
		-webkit-transform: scale(0.9, 1.1);
		transform: scale(0.9, 1.1);
	}

	50% {
		-webkit-transform: scale(1.1, 0.9);
		transform: scale(1.1, 0.9);
	}

	75% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}
}

div.collapse.navbar-collapse ul.nav.navbar-nav.left-nav li{
	width: 25%;
}
@media (max-width: 768px){
	.collapse ul.left-nav{
		width: 100%;
		text-align: center!important;

	}
	.collapse ul.left-nav li{
		margin: 0 auto;
	}
}

@media ( min-width :1200px) {
	.main-navbar .left-nav{
		width:75%;
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
	.main-navbar .left-nav>li{
		width: 10%;
	}
	.main-navbar .navbar-collapse{
		text-align: center;
	}
}
@media screen and (min-width: 769px) and (max-width: 1190px) {
	.main-navbar .left-nav{
		width:65%;
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
	.main-navbar .left-nav>li{
		width: 10%;
	}
	.main-navbar .navbar-collapse{
		text-align: center;
	}

}
