/* .modalRes{
	margin-top: 70px;
} */
.modalRes .modalRes-bg{
	/*display: block;*/
	/*width: 100%;*/
	/*height: auto;*/
  background: #fafafa;
}
/* @media (max-width: 767px ){
	.modalRes{margin-top: 50px;}
} */
.modalRes-head{
/*	margin-bottom: 10px;
	padding: 20px 0;
	text-align: center;
	box-shadow: 0 0 5px 5px #ccc;*/
  position: relative;
  padding:132px 0;
  text-align: center;
  color: #f5f5ff;
  background: url(../images/modalRes_bg.jpg) center 20% no-repeat;
  background-size: auto auto;
	/*background-color: red;*/
}

.modalRes-head .modalRes-bigmask{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0,0,0,.3);
  -moz-transition: all ease 1.5s;
  -o-transition: all ease 1.5s;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
}
.modalRes-head:hover .modalRes-bigmask{
  background: rgba(0,0,0,.5);
}
.modalRes-head h1{
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
.modalRes-head p{
  position: relative;
  z-index: 10;
  font-size: 18px;

}

.modalRes-head .modalRes-head-icon{
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
	width: 46px;
	height: 46px;
	background: url(../images/sprite_6.png) -3px -439px no-repeat;
}
.modalRes-head .modalRes-head-title{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	border-right: 1px solid #ddd;
	padding:30px 30px 30px 0;
}
.modalRes-head .modalRes-head-text{
	display: inline-block;
	/*margin-left: 3%;*/
	padding: 10px;
	/*max-width: 75%;*/
	/*vertical-align: middle;*/
	text-align: left;
	color: #666;
	/*font-weight: bold;*/
	/*text-shadow: 1px 1px 2px rgba(0,0,0,0.4);*/
	text-indent: 2em;
	/*background-color: red;*/
	position: relative;
	/*background-color: rgba(238,238,238,0.6);*/

}

.modalRes-head .modalRes-head-text .top{
	display: block;
	width: 90%;

	border:1px solid #228b22;

	position: absolute;
	top:0;
	right: 0;
}
.modalRes-head .modalRes-head-text .bottom{
	display: block;
	width: 90%;
	border: 1px solid #228b22;
	position: absolute;
	bottom:0;
	left: 0;
}
.modalRes-head .modalRes-head-text .right{
	display: block;

	height: 72px;
	border: 1px solid #228b22;
	position: absolute;
	top:0;
	right: 0;
}
.modalRes-head .modalRes-head-text .left{
	display: block;
	height: 72px;
	border: 1px solid #228b22;
	position: absolute;
	bottom:0;
	left:0;
}
/*
.modalRes-head .modalRes-head-text, .modalRes-head .modalRes-head-text:after {
	!*font-weight: 900;*!
	color: #efedce;
	!*white-space: nowrap;*!
	display: inline-block;
	position: relative;
	letter-spacing: .1em;
	padding: .2em 0 .25em 0;
}

.modalRes-head .modalRes-head-text {
	!*font-size: 4em;*!
	z-index: 100;
	text-shadow: .04em .04em 0 #9cb8b3;
}

.modalRes-head .modalRes-head-text:after {
	content: attr(data-shadow-text);
	color: rgba(0,0,0,.35);
	text-shadow: none;
	position: absolute;
	left: .0875em;
	top: .0875em;
	z-index: -1;
	-webkit-mask-image: url(http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}
*/


@media screen and  (max-width: 1200px){
	.modalRes-head .modalRes-head-text{
		display: none;
	}
}
.modalRes-box .modalRes-box-wrapper{
	position: relative;
	display: table;
	margin:15px 0;
	padding: 0 10px;
	width: 100%;
	height: 150px;
	text-align: center;
	border: 1px solid #ccc;
	/* box-shadow: 0 0 20px 2px rgba(9,9,9,.1); */
    border-radius: 6px;
    background: #fff;
    z-index: 2;
    transition: all ease 1s;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-plus{
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 22px;
	font-weight: bold;
	color:#888;
	font-style: normal;
	line-height: 1;
	cursor: pointer;
	z-index: 5;
}
.transformY5{
	box-shadow: 4px 4px 10px 2px rgba(0,0,0,.8);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	transform: translateY(-20px);
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-del{
	position: absolute;
	top:15px;
	right: 20px;
	cursor: pointer;
	z-index: 5;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-info{
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #999;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-info .modalRes-box-author{
	color: #708faa;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-title{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	z-index: 3;
}
.modalRes-box .modalRes-box-wrapper  .modalRes-box-mask{
	position: absolute;
	display: none;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background:rgba(0,0,0,.35);
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-text{
	position: relative;
	z-index: 5;
}
.modalRes-box-top, .modalRes-box-right, .modalRes-box-bottom, .modalRes-box-left{
	display: inline-block;
	position: absolute;
	background: #228b22;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
	z-index: 10;
}
.modalRes-box-top{
	top:-2px;
	left: 0;
	width: 0;
	height: 2px
}

.modalRes-box-right{
	top:0;
	right: -2px;
	width: 2px;
	height: 0;
}
.modalRes-box-bottom{
	bottom:-2px;
	right: 0;
	width: 0;
	height: 2px
}
.modalRes-box-left{
	bottom:0;
	left: -2px;
	width: 2px;
	height: 0;
}
.h100{
	height: 100%;
}
.w100{
	width: 100%;
}
.modalRes-list{
	padding: 60px 0 80px;
	box-shadow: inset 0 -2px 0 2px rgba(9,9,9,.1);
}
.modalRes-list .modalRes-list-title{
	margin: 0 0 30px;
}
.modalRes-list .modalRes-list-icon{
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url(../images/sprite_6.png) no-repeat;
}
.modalRes-list .modalRes-list-icon1{
	background-position: -44px -505px;
}
.modalRes-list .modalRes-list-icon2{
	background-position: -4px -548px;
}
.modalRes-list .modalRes-list-icon3{
	background-position: -4px -505px;
}
.modalRes-list .modalRes-list-icon4{
	background-position: -44px -548px;
}
.modalRes-list .modalRes-list-text{
	vertical-align: middle;
}
.modalRes-list .modalRes-list-plus{
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 20px;
	font-weight: bold;
	color:#228b22;
	font-style: normal;
	cursor: pointer;
}
.modalRes-obj{
	background: #fcfcfc;
}
.modalRes-method{
	background:#f7f7f8;
}
.modalRes-exa{
	background: #f3f3f7;
	box-shadow: none;
}
.modalRes-data{
	background: #fcfcfc;
	box-shadow: none;
}
.modalRes-mask{
	position: fixed;
	display: none;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 100px;
	background: rgba(0,0,0,.2);
	transition: all 2s;
}
.modalRes-mask form{
	padding: 20px 30px;
	background: #fafafa;
	box-shadow: 2px 2px 20px rgba(0,0,0,.5);
	border-radius: 6px;
}
.modalRes-mask form textarea{
	width: 100%;
	height: 200px;
	resize: none;
	overflow-y: auto;
}
.modalRes-mask form h3{
	margin:0 0 20px;
}