/* mytable */
/* .zijin-table{
	margin-top: 90px;
	
}
@media (max-width: 768px){
	.zijin-table{
		margin-top: 50px;
	}
} */

.zijin-table .zijin-table-head{
	position: relative;
	padding:150px 0;
	text-align: center;
	color: #f5f5ff;
	background: url(../images/m5655d57ce7646.jpg) center 35% no-repeat;
	background-size: auto auto;
}
.zijin-table .zijin-table-head .zijin-table-bigmask{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0,0,0,.3);
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	transition: all ease 1.5s;
}
.zijin-table .zijin-table-head:hover .zijin-table-bigmask{
	background: rgba(0,0,0,.5);
}
.zijin-table .zijin-table-head h1{
	position: relative;
	z-index: 10;
	margin-bottom: 50px;
	letter-spacing: 2px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
.zijin-table .zijin-table-head p{
	position: relative;
	z-index: 10;
	font-size: 18px;
}
.zijin-table .zijin-table-body{
	margin-top: 50px;
	margin-bottom: 50px;
}
.zijin-table .zijin-table-body table td ,.zijin-table .zijin-table-body table th{
	text-align: center;
	vertical-align: middle;
}
.zijin-table .zijin-table-body .table-responsive1{
	overflow: hidden;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 30px #ddd;
	-moz-box-shadow:0 0 30px #ddd;
	box-shadow:0 0 30px #ddd;
}
.zijin-table .zijin-table-body table thead{
	border:2px solid #707ea1;
	font-size: 16px;

	background-color: #707ea1;

	color:#fff;
}
#container3 table td{
	border-right: 1px solid #ccc;
}
#container6 table td{
	border-right: 1px solid #ccc;
}
#container1 table td{
	border-right: 1px solid #ccc;
}
#container table td{
	border-right: 1px solid #ccc;
}
.zijin-table .zijin-table-body .zijin-table-title{
	margin-bottom: 30px;
}
.zijin-table .zijin-table-body .zijin-table-title span{
	display: inline-block;
	vertical-align: middle;
	font-size: 35px;
	color: #b22;
	font-family: "宋体";
	font-weight: bold;
}
.zijin-table .zijin-table-body .zijin-table-title .zijin-table-add{
	display: inline-block;
	margin-left: 10px;
	vertical-align: -60%;
	width: 20px;
	height: 20px;
	background: url(../images/997e452bb58b921ba5c3ca82c3a263d2.png) center center no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
/* mask */
.zijin-table-mask{
	position: fixed;
	display: none;
	z-index: 100;
	top: 0;
	padding-top: 200px;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.2);
	transition: all 2s;
}
.zijin-table-mask form {
	padding: 50px 30px;
	background: #fafafa;
}
.zijin-table-mask form input[type='file']{
	padding-top:0;
	padding-bottom: 0; 
}
.rec-strategy .zijin-table-title{
	cursor: pointer;
}
.rec-strategy .zijin-table-title .caret{
	border-top: 10px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.zijin-table .rec-strategy .zijin-table-title span{
	color:#222;
}

