.admincenter{
	padding-top: 100px;
	padding-bottom: 100px;
}
.admincenter .adminCenter-title{
	margin-bottom: 30px;
}
/* analyse */
.analyse{
	position: relative;
	margin-top: 70px;
	width: 100%;
}
@media (max-width: 767px){
	.analyse{margin-top: 50px;}
}
.analyse .analyse-top-title{
	margin: 0;
	padding: 10px 0;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
    line-height: 1.5;
    
}
.analyse .analyse-title-head{
	margin-bottom: 20px;
	background: #f2f2f2;
    border-bottom: 1px solid #ccc;

}
.analyse .analyse-left{
	position: relative;
	height: 650px;
	border-right: 2px dashed #5CB7EE;
/* 	padding-top: 50px;
padding-bottom: 50px; */
	/* color:#f5f5f5;
	background: #292421; */
}
.analyse .analyse-left .analyse-menu-head{
	margin-bottom: 30px;
	padding-left: 40px;
}
.analyse .analyse-left dl{
	/* margin:25px auto;
	width: 120px; */
	margin-bottom: 20px;
	padding-left: 40px;
}
.analyse .analyse-left dt{
	position: relative;
	color: rgba(92, 161, 228, 1);
    font-size: 18px;
	letter-spacing: 2px;
	line-height: 40px;
	cursor: pointer;
}
.analyse .analyse-left dd{
	color: rgba(124, 181, 236, 1);
    font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.analyse .analyse-left dd a{
	cursor: pointer;
}
.analyse .analyse-left dt i{
	position: absolute;
	left: -30px;
	top:11px;
}
.analyse .analyse-right{
	position: relative;
	height: 650px;
	margin-top: 30px;
	/* overflow-y:auto;  */
}
.analyse .analyse-right .analyse-charts-title{
	margin: 0 0 50px;
	text-align:center;
	color:#b22;
	letter-spacing: 2px;
}
.analyse .analyse-right .mb0{
	margin-bottom: 0;
}
.analyse .analyse-right .table-responsive{
	height: 550px;
	overflow-y:auto; 
}
/* .analyse .analyse-right .analyse-charts-title:after{
	content: '';
	display: inline-block;
	width: 100px;
	height: 2px;
	background: #b22;
	text-align: center;
	
} */
#total_revenue_rate ul {
	width: 240px;
	margin: 100px auto 30px;
	list-style: none;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 1px;
}
#total_revenue_rate  a{
	width: 240px;
	font-size: 18px;
	letter-spacing: 2px;
}
#info_ratio p,#volatility p,#info_ratio_1 p,#volatility_1 p{
	line-height: 30px;
	color: #333;
	font-size: 18px;
	letter-spacing: 2px;
}
.analyse .white-blue{
	color:rgb(124, 181, 236);
}

.analyse .font-black{
	color:#333;
}
.analyse .red{
	color:#FD2E2E;
}
.analyse .blue{
	color:  rgb(102,153,255);
}
.analyse .green{
	color:#393;
}
 .analyse .orange{
	color:orange;
}
#analyse-modal1 .modal-box, #analyse-modal2 .modal-box, #actualRes-modal1 .modal-box,#actualRes-modal2 .modal-box{
	padding:20px;
}

#analyse-modal1 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
}
#actualRes-modal1 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
}
/* #actualRes-modal2 .modal-box textarea{
	width: 100%;
	height:150px;
	resize: none;
} */
.analyse-modal-big{
	position: fixed;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	background:rgba(0,0,0,.7);
	z-index: 999;
}
.analyse-modal-big .analyse-select-box{
	margin:150px auto 0;
	padding: 70px 0;
	max-width: 500px;
	border-radius:10px; 
	background: rgba(245,245,255,.8);
	box-shadow: 5px 5px 4px rgba(0,0,0,.9);
}
.analyse-modal-big .analyse-select-box p{
	margin-bottom: 0;
}
.analyse-modal-big .analyse-select-box p+p{
	margin-top: 20px;
}
.analyse-modal-big .analyse-select-box p button{
	box-shadow: 2px 2px 1px rgba(0,0,0,.2);
}
.mr30{
	margin-right: 30px;
}
.highstock-item{
	width: 96%;
	margin: 20px auto 0;
}
/* complie */
#editor{
	position: relative;
	padding:0;
	width: 100%;
	height: 800px;
}
.zijin-complie{
	margin-top: 70px;
}
@media (max-width: 767px){
	.zijin-complie{
		margin-top: 50px;
	}
}
.zijin-complie-body >.row{
	margin:0;
}
.zijin-complie-body >.row >.col-lg-7{
	padding: 0;
	
	border-right: 1px solid #333;
}
.zijin-complie-body >.row >.col-lg-5{
	
	
	padding: 0;
}
.zijin-complie-head{
	padding: 10px 15px;
	height: 50px;
	font-size: 20px;
	line-height: 1.5;
	background: #f2f2f2;
	border-bottom: 1px solid #ccc;
}
.zijin-complie-head .zijin-complie-name{
	margin-left: 50px;
	padding-right: 25px;
	background: url(../images/552cc33d78a5f_16.png) right 7px no-repeat;
	cursor: pointer;
}
.zijin-complie-head .zijin-complie-hidname{
	display: none;
	margin-left: 50px;
	height:26px;
	line-height: 26px;
	font-size: 16px; 
}
.zijin-complie-top{
	padding: 10px 15px;
	height: 50px;
	border-bottom:1px solid #999;
}
.zijin-complie-left .zijin-complie-top{
	text-align: right;
}
.zijin-complie-left .zijin-complie-top button{
	margin-right: 10px;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	color: #333;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px;
}

.zijin-complie-right .zijin-complie-top button{
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	color: #333;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px;
}
.zijin-complie-top button:hover{
	color:#5584ff;
}
.zijin-complie-highcharts{
	position: relative;
}
.zijin-complie-placeholder{
	position: absolute;
	top: 45%;
	left: 42%;
	font-size: 30px;
	color:#ccc;
}
.zijin-complie-bottom{
	height: 400px;
}
.zijin-complie-bottom .nav{
	height: 50px;
	border-top: 1px solid #999;
	padding-top: 7px;
    padding-left: 10px;
    background: #f2f2f2;
}
.zijin-complie-bottom .tab-pane{
	height: 350px;
}
.ace_print-margin{
	visibility: hidden!important;
}
.zijin-complie-right .zijin-complie-top input{
	width: 100px;
}
/*公共样式*/
body, html {
	/* font-family: 'webfont', Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-family: SourceHanSans-Normal, -apple-system, Helvetica Neue,
		PingFang SC, Source Han Sans SC, Noto Sans CJK SC, Source Han Sans CN,
		Source Han Sans TC, "Microsoft Yahei", sans-serif, Verdana, Arial,
		Helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	color:#555;
}
a:focus,button:focus,input:focus{
	outline: none;
}
.zijin-main-wrapper{
	min-height: 100%;
	height: auto!important;
	height: 100%;
}
.w50 {
    display: inline-block;
    width: 50px;
}
/* 导航 */

.main-navbar {
	margin-bottom: 0;
	z-index: 1000;
	background: -webkit-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
		#000A2E 100%);
	background: -moz-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
		#000A2E 100%);
	background: -o-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
		#000A2E 100%);
	background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E
		100%);
	-moz-box-shadow: 10px 10px 10px #000;
	-webkit-box-shadow: 10px 10px 10px #000;
	box-shadow: 1px 1px 2px #797979;
	font-size: 16px;
}
.transparent{
	min-height: 100%;
	height: auto!important;
	height: 100%;
}
.transparent .main-navbar{
	background: transparent;
	box-shadow: none;
	border: none;
}
 @media ( min-width :769px) {
	.main-navbar .left-nav{
		width:70%;
		display: inline-block;
		float: none;
		vertical-align: middle;
		}
	.main-navbar .left-nav>li{
		width: 16%;
	}
	.main-navbar .navbar-collapse{
		text-align: center;
	}
} 

.main-navbar .navbar-default {
	background: transparent;
}

.main-navbar .navbar-brand {
	padding:0;
	color: #fff0f5;
	font-weight: 600;
}

.main-navbar .navbar {
	margin-bottom: 0;
	border: none;
}

.main-navbar .navbar-nav>li>a {
	text-align: center;
	cursor: pointer;
	color: #fafff0;
}


.main-navbar .navbar-nav>li>a:focus{
	color: #fafff0;
	outline: none;
}
.main-navbar.navbar-default .navbar-brand:focus, .main-navbar.navbar-default .navbar-brand:hover {
    color: #fff0f5;
    background-color: transparent;
    outline: none;
}
/* .main-navbar .navbar-nav>li>a:hover,.main-navbar .navbar-nav>li>a:focus,.main-navbar .navbar-nav>li>a:active,.main-navbar .navbar-nav>li>a:visited{
	font-weight: 700;
	color: #ffd700; 
} */
.main-navbar  .navbar-brand img{
	width: auto;
	height: 100%;
}
.main-navbar .left-nav>li>a:hover {
		color: #fff;
		/* background: rgba(255, 255, 255, .1); */
}
@media (max-width: 767px){
	.main-navbar .navbar-collapse{
		background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E 100%);
		padding-bottom: 50px;
	}
}
@media ( min-width : 768px) {
	.main-navbar .left-nav>li>a:hover {
		color: #fff;
		/* font-weight: 700; */
		/* background: rgba(255, 255, 255, .1); */
	}
	.main-navbar .navbar-right>li>a:hover {
		color: #fff;
	}
	.main-navbar .navbar-nav>li>a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.navbar .navbar-brand {
		width: 70px;
		height: 70px;
	}
	.navbar>.container-fluid .navbar-brand:hover {
		color: #fff;
	}
	.main-navbar .navbar-nav>li>a.login-btn {
		text-align: right;
	}
	.main-navbar .navbar-nav>li>a.reg-btn {
		text-align: left;
	}
	.main-navbar a.reg-btn:before {
		content: '|';
		font-weight: bold;
		color: #fff;
		position: absolute;
		left: -2px;
	}
}

.main-navbar .navbar-nav>li>a.active {
	font-weight: 700;
	color: #ffd700;
}

.main-navbar .navbar-right>li>a {
	/*padding: 15px 25px;*/
	margin: 0 auto;
	/* width: 80px; */
	color: #f0f8ff;
	border: none;
}

.main-navbar .navbar-default .navbar-nav>.open>a {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
}

.main-navbar .navbar-right .btn-primary {
	background: #708069;
}

.main-navbar .navbar-right .btn-success {
	background: #4682b4;
}
/* .main-navbar .navbar-right>li>a:hover{
	background: #00ced1;
	color: #fafff0;
} */
.main-navbar .left-nav>li>a.red-text {
	font-weight: bold;
	color: #00c78c;
}
.main-navbar .left-nav{
	position: relative;
}
.navbar-default.main-navbar .navbar-nav > .open > a, .navbar-default.main-navbar .navbar-nav > .open > a:focus, .navbar-default.main-navbar .navbar-nav > .open > a:hover {
    background-color: rgba(255,255,255,.2);
    color: #fff;
}

/* footer */
.zijin-ngview{
	padding-bottom:309px
}
.main-navbar .navbar-nav>li>.dropdown-menu{
	background: transparent;
}
.main-navbar .dropdown-menu>li{
	cursor:pointer;
}
.main-navbar .dropdown-menu>li>a{
	background: #13285F;
    color: #fff;
}
.main-navbar  .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
@media (max-width: 767px){
	.main-navbar .navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	}

}

footer {
	margin-top:-308px;
	clear:both;
	position:relative;
	z-index:50;
	/* padding-top: 30px; */
	text-align: center;
	border-top: 2px solid #dcdcdc;
}

footer .bill-footer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #f5f5ff;
	background: #292421;
}
@media (max-width:767px){
	footer .bill-footer >.col-sm-4{margin-bottom:25px;}	
}
footer .copyright {
	padding-top: 20px;
	padding-bottom: 10px;
	color: #fffafa;
	background: -webkit-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
		#000A2E 100%);
	background: -moz-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
		#000A2E 100%);
	background: -o-linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%,
		#000A2E 100%);
	background: linear-gradient(to right, #13285F 0%, #1C2C62 33%, #001641 66%, #000A2E
		100%);
}
footer .copyright p{
	margin: 0;
}
footer .footer-text-head {
	margin-bottom: 30px;
	color: #fff;
	font-size: 20px;
}
footer .bill-footer p{
	text-align: left;
}
@media (max-width: 767px){
	footer .bill-footer p{text-align: center;}
	footer .bill-footer .col-sm-2{margin-bottom: 30px;}
}
footer .bill-footer p a{
	color: #ccc;
}
footer .bill-footer p a:hover{
	color:#fff;
	text-decoration:none;
}
footer .bill-footer .zijin-footer-itembox{
	display: inline-block;
}
footer .bill-footer .zijin-footer-logo{
	position: absolute;
	top: 20px;
	left: 50px;
	width: 150px;
	height: auto;
}
/* footer .footer-text-head .glyphicon {
	font-size: 30px;
	color: #0b1746;
	margin-right: 20px;
	vertical-align: middle;
}

footer .footer-text-head span {
	vertical-align: middle;
} */
/* 弹出框 */
#zijin-modal{
	display: none; 
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 100px;
}
#zijin-modal h4{
	padding: 50px 0;
	color:#000;
	background: #eee;
	border:2px solid #080;
	letter-spacing: 2px;
	border-radius: 6px;
}
/* move-bar */
#move-box{
	position: absolute;
	display: inline-block;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background: #E15671;
	border-radius: 8px;
	z-index: -1;
	box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 2px;
}
.infinite{
	animation: gelatine .5s infinite;
}
.main-navbar .list-group{
	display: none;
	position: absolute;
	font-size: 14px;
	letter-spacing: 2px;
	width: 120%;
	min-width: 160px;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	top: 70px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
}
@media (max-width: 767px){
	.main-navbar .list-group{
		width: 100%;
		top: 35px;
	}
}

.main-navbar .list-group:after{
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0 8px 8px;
	border-color: transparent transparent #fff;
	border-style: solid; 
	top: -8px;
	right: 30px;
}
.main-navbar .list-group i{
	position: absolute;
	top: 7px;
	left: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.main-navbar .list-group .logout-icon{
	background: url(../images/iocn_sprite_032.png) -30px -222px no-repeat;
}
.main-navbar .list-group .info-icon{
	background: url(../images/iocn_sprite_032.png) -171px -140px no-repeat;
}
.main-navbar .list-group span{
	display: inline-block;
	vertical-align: middle;
}
.main-navbar .list-group-item{
	position: relative;
	border:none;
	text-align: center;
	padding: 5px 0 ;
	letter-spacing: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: transparent
}

::-webkit-scrollbar-thumb {
	background: #999
}
::-webkit-scrollbar-thumb{height: 50px; background-color: #666; -webkit-border-radius: 3px;}  
HTML {   
scrollbar-base-color: #C0C0C0;   
scrollbar-base-color: #C0C0C0;   
scrollbar-3dlight-color: #C0C0C0;   
scrollbar-highlight-color: #C0C0C0;   
scrollbar-track-color: #EBEBEB;   
scrollbar-arrow-color: black;   
scrollbar-shadow-color: #C0C0C0;   
scrollbar-dark-shadow-color: #C0C0C0;   
}  

/* @media (min-width: 768px){
	.main-navbar .list-group-item{
		padding: 5px 15px;
		text-align: center;
	}
	.main-navbar .list-group i{
		float: left;
		margin-top: 2px;
	}
} */
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-moz-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-o-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
/* .modalRes{
	margin-top: 70px;
} */
.modalRes .modalRes-bg{
	display: block;
	width: 100%;
	height: auto;
}
/* @media (max-width: 767px ){
	.modalRes{margin-top: 50px;}
} */
.modalRes-head{
	margin-bottom: 10px;
	padding: 40px 0;
	text-align: center;
	box-shadow: 0 0 5px 5px #ccc;
}
.modalRes-head .modalRes-head-icon{
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
	width: 46px;
	height: 46px;
	background: url(../images/sprite_6.png) -3px -439px no-repeat;
}
.modalRes-head .modalRes-head-title{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.modalRes-head .modalRes-head-text{
	display: inline-block;
	margin-left: 30px;
	padding-left: 30px;
	border-left: 1px solid;
	max-width: 800px;
	vertical-align: middle;
	text-align: left;
	color: #666;
}
@media screen and  (max-width: 1200px){
	.modalRes-head .modalRes-head-text{
		display: none;
	}
}
.modalRes-box .modalRes-box-wrapper{
	position: relative;
	display: table;
	margin:15px 0;
	padding: 0 10px;
	width: 100%;
	height: 150px;
	text-align: center;
	border: 1px solid #ccc;
	/* box-shadow: 0 0 20px 2px rgba(9,9,9,.1); */
    border-radius: 6px;
    background: #fff;
    z-index: 2;
    transition: all ease 1s;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-plus{
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 22px;
	font-weight: bold;
	color:#888;
	font-style: normal;
	line-height: 1;
	cursor: pointer;
	z-index: 5;
}
.transformY5{
	box-shadow: 4px 4px 10px 2px rgba(0,0,0,.8);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	transform: translateY(-20px);
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-del{
	position: absolute;
	top:15px;
	right: 20px;
	cursor: pointer;
	z-index: 5;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-info{
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #999;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-info .modalRes-box-author{
	color: #708faa;
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-title{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	z-index: 3;
}
.modalRes-box .modalRes-box-wrapper  .modalRes-box-mask{
	position: absolute;
	display: none;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background:rgba(0,0,0,.35);
}
.modalRes-box .modalRes-box-wrapper .modalRes-box-text{
	position: relative;
	z-index: 5;
}
.modalRes-box-top, .modalRes-box-right, .modalRes-box-bottom, .modalRes-box-left{
	display: inline-block;
	position: absolute;
	background: #228b22;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
	z-index: 10;
}
.modalRes-box-top{
	top:-2px;
	left: 0;
	width: 0;
	height: 2px
}

.modalRes-box-right{
	top:0;
	right: -2px;
	width: 2px;
	height: 0;
}
.modalRes-box-bottom{
	bottom:-2px;
	right: 0;
	width: 0;
	height: 2px
}
.modalRes-box-left{
	bottom:0;
	left: -2px;
	width: 2px;
	height: 0;
}
.h100{
	height: 100%;
}
.w100{
	width: 100%;
}
.modalRes-list{
	padding: 60px 0 80px;
	box-shadow: inset 0 -2px 0 2px rgba(9,9,9,.1);
}
.modalRes-list .modalRes-list-title{
	margin: 0 0 30px;
}
.modalRes-list .modalRes-list-icon{
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url(../images/sprite_6.png) no-repeat;
}
.modalRes-list .modalRes-list-icon1{
	background-position: -44px -505px;
}
.modalRes-list .modalRes-list-icon2{
	background-position: -4px -548px;
}
.modalRes-list .modalRes-list-icon3{
	background-position: -4px -505px;
}
.modalRes-list .modalRes-list-icon4{
	background-position: -44px -548px;
}
.modalRes-list .modalRes-list-text{
	vertical-align: middle;
}
.modalRes-list .modalRes-list-plus{
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 20px;
	font-weight: bold;
	color:#228b22;
	font-style: normal;
	cursor: pointer;
}
.modalRes-obj{
	background: #fcfcfc;
}
.modalRes-method{
	background:#f7f7f8;
}
.modalRes-exa{
	background: #f3f3f7;
	box-shadow: none;
}
.modalRes-data{
	background: #fcfcfc;
	box-shadow: none;
}
.modalRes-mask{
	position: fixed;
	display: none;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 100px;
	background: rgba(0,0,0,.2);
	transition: all 2s;
}
.modalRes-mask form{
	padding: 20px 30px;
	background: #fafafa;
	box-shadow: 2px 2px 20px rgba(0,0,0,.5);
	border-radius: 6px;
}
.modalRes-mask form textarea{
	width: 100%;
	height: 200px;
	resize: none;
	overflow-y: auto;
}
.modalRes-mask form h3{
	margin:0 0 20px;
}
.modalResDis{
	margin-top: 70px;
	text-align: left;
}
@media screen and(max-width: 767px){
	.modalResDis{margin-top: 50px;}
}
.modalResDis .back{
	margin-top: 30px;
	display: block;
	color: #989ea9;
}
.modalResDis .back:hover{
	text-decoration: none;
	color: #989ea9;
}
.modalResDis .back span{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #989ea9;
	vertical-align: middle;
}
.modalResDis .title{
	margin: 20px 0 10px;
	padding: 0 18px;
	color:#242527;
	word-spacing:4px;
}
.modalResDis .time{
	margin-bottom: 20px;
	padding: 18px;
	border: 1px solid #dfdfdf; 
	border-left: none;
	border-right: none;
}
.modalResDis .time .author{
	color: #23527c;
}
.modalResDis .content{
	position: relative;
	margin-bottom: 30px;
	font-size: 16px;
	text-align: justify;
	color: #333;
	word-break: break-all;
	line-height: 1.75;
}
.modalResDis .btn{
	position: absolute;
	bottom: -85px;
	right: 20px;
}

.modalResDis .code{
	margin-bottom: 30px;
	/* padding: 15px;
	    border: 1px solid transparent;
	    border-radius: 4px;
	background-color: #d9edf7;
	    border-color: #bce8f1;
	color: #31708f; */
}
/* mytable */
/* .zijin-table{
	margin-top: 90px;
	
}
@media (max-width: 768px){
	.zijin-table{
		margin-top: 50px;
	}
} */
.zijin-table .zijin-table-head{
	position: relative;
	padding:150px 0;
	text-align: center;
	color: #f5f5ff;
	background: url(../images/m5655d57ce7646.jpg) center 35% no-repeat;
	background-size: auto auto;
}
.zijin-table .zijin-table-head .zijin-table-bigmask{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0,0,0,.3);
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	transition: all ease 1.5s;
}
.zijin-table .zijin-table-head:hover .zijin-table-bigmask{
	background: rgba(0,0,0,.5);
}
.zijin-table .zijin-table-head h1{
	position: relative;
	z-index: 10;
	margin-bottom: 50px;
	letter-spacing: 2px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
.zijin-table .zijin-table-head p{
	position: relative;
	z-index: 10;
	font-size: 18px;
}
.zijin-table .zijin-table-body{
	margin-top: 50px;
	margin-bottom: 50px;
}
.zijin-table .zijin-table-body table td ,.zijin-table .zijin-table-body table th{
	text-align: center;
	vertical-align: middle;
}
.zijin-table .zijin-table-body table thead{
	background: #292421;
	color:#fff;
}
.zijin-table .zijin-table-body .zijin-table-title{
	margin-bottom: 30px;
}
.zijin-table .zijin-table-body .zijin-table-title span{
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	color: #b22;	
}
.zijin-table .zijin-table-body .zijin-table-title .zijin-table-add{
	display: inline-block;
	margin-left: 10px;
	vertical-align: -60%;
	width: 20px;
	height: 20px;
	background: url(../images/997e452bb58b921ba5c3ca82c3a263d2.png) center center no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
/* mask */
.zijin-table-mask{
	position: fixed;
	display: none;
	z-index: 500;
	top: 0;
	padding-top: 200px;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.2);
	transition: all 2s;
}
.zijin-table-mask form {
	padding: 50px 30px;
	background: #fafafa;
}
.zijin-table-mask form input[type='file']{
	padding-top:0;
	padding-bottom: 0; 
}
.rec-strategy .zijin-table-title{
	cursor: pointer;
}
.rec-strategy .zijin-table-title .caret{
	border-top: 10px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.zijin-table .rec-strategy .zijin-table-title span{
	color:#222;
}
/* new-home */
/* .zijin-index{
	margin-top: 90px;
	
}
@media (max-width: 768px){
	.zijin-index{
		margin-top: 50px;
	}
} */
.zijin-index .zijin-index-head{
	position: relative;
}
.zijin-index .zijin-index-head .zijin-index-title{
	position: absolute;
	top: 0;
	left: 0;
	padding-top:180px;
	width: 100%;
	background: transparent;
	text-align:center;
}
.zijin-index .zijin-index-title h2{
	position: relative;
	z-index: 5;
	margin: 0 0 30px;
	font-size: 80px;
	font-weight: 100;
	color: #fff;
	letter-spacing: 5px;
	text-shadow: 1px 1px 4px rgba(0,0,0,.8);
}
.zijin-index .zijin-index-title p{
	position: relative;
	z-index: 5;
	font-size: 40px;
	font-weight: 100;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(0,0,0,.8);
}

.zijin-index .zijin-index-title .zijin-index-btn{
	position: relative;
	display: inline-block;
	margin-top: 50px;
	z-index: 5;
}
.zijin-index .zijin-index-title .zijin-index-btn .line{
	position: absolute;
	background: none;
	-moz-transition:all ease 1s;
	-o-transition:all ease 1s;
	-webkit-transition:all ease 1s;
	transition: all ease 1s;
}
.zijin-index .zijin-index-title .zijin-index-btn .line-top{
	width: 100%;
	height: 2px;
	top: 0;
	left: -110%;
}
.zijin-index .zijin-index-title .zijin-index-btn:hover .line-top{
	background: #fff;
	left: 0;
}
.zijin-index .zijin-index-title .zijin-index-btn .line-bottom{
	width: 100%;
	height: 2px;
	bottom: 0;
	right: -110%;
}
.zijin-index .zijin-index-title .zijin-index-btn:hover .line-bottom{
	background: #fff;
	right: 0;
}
.zijin-index .zijin-index-title .zijin-index-btn .line-left{
	width: 2px;
	height: 100%;
	top: -110%;
	left: 0;
}
.zijin-index .zijin-index-title .zijin-index-btn:hover .line-left{
	background: #fff;
	top: 0;
}
.zijin-index .zijin-index-title .zijin-index-btn .line-right{
	width: 2px;
	height: 100%;
	bottom: -110%;
	right: 0;
} 
.zijin-index .zijin-index-title .zijin-index-btn:hover .line-right{
	background: #fff;
	bottom: 0;
}
.zijin-index .zijin-index-title .zijin-index-btn button {
	width: 320px;
	height: 60px;
	font-size: 20px;
	background: rgba(255,255,255,.6);
	color: rgba(0,0,0,.6);
	border:0;
	border-radius: 3px;
	letter-spacing: 5px;
}
.zijin-index .zijin-index-title .zijin-index-messages{
	position: absolute;
	padding-right: 20px;
	opacity: 0;
	bottom:-220px; 
	left:0;
	text-align: left;
	color: #fff;
	-moz-transition:all ease 1.5s;
	-o-transition:all ease 1.5s;
	-moz-transition:all ease 1.5s;
	-webkit-transition:all ease 1.5s;
	transition:all ease 1.5s;
}
@media (max-width: 991px){
	.zijin-index .zijin-index-title .zijin-index-messages{
		opacity: 1;
		bottom: -140px;
	}
}
.zijin-index .zijin-index-title .zijin-index-btn:hover .zijin-index-messages{
	opacity: 1;
	bottom: -140px;
}
@media (max-width:767px){
	.zijin-index .zijin-index-title h2{font-size: 40px}
	.zijin-index .zijin-index-title p{font-size: 16px}
	.zijin-index .zijin-index-title .zijin-index-btn button{
		width: 280px;
	}
}
.zijin-index .zijin-index-head .zijin-index-carousel{
	position: relative;
}
.zijin-index  .zijin-index-carousel img{
	width: 100%;
	height: 650px;
}
.zijin-index  .zijin-index-carousel .carousel-control{
	z-index: 10;
	cursor: pointer;
}
.zijin-index .zijin-index-top{
	padding:60px 0;
}
@media (max-width:767px){
	.zijin-index .zijin-index-top{
		padding:0;
	}
}
.zijin-index .zijin-index-carImg{
	width: 100%;
	height: 650px;
}
.carImg1{
	background: url(../images/index_car_1.jpg) center center no-repeat;
	background-size: auto 100%;
}
.carImg2{
	background: url(../images/index_car_2.jpg) center center no-repeat;
	background-size: auto 100%;
}
.carImg3{
	background: url(../images/index_car_3.jpg) center center no-repeat;
	background-size: auto 100%;
}
.zijin-index .zijin-index-top .top_one{
	position: relative;
	background: #d9544d;
}
.zijin-index .zijin-index-top .top_two{
	position: relative;
	background: #e7cd04;
}
.zijin-index .zijin-index-top .top_three{
	position: relative;
	background: #48b2a6;
}
.zijin-index .zijin-index-top .top_four{
	position: relative;
	background: #4d6f8a;
}
.zijin-index .zijin-index-top .top_five{
	position: relative;
	background: #8a2be2;
}
.zijin-index .zijin-index-top .top_one .top-one-top,.zijin-index .zijin-index-top .top_one .top-one-bottom,
.zijin-index .zijin-index-top .top_two .top-two-top,.zijin-index .zijin-index-top .top_two .top-two-bottom,
.zijin-index .zijin-index-top .top_three .top-three-top,.zijin-index .zijin-index-top .top_three .top-three-bottom,
.zijin-index .zijin-index-top .top_four .top-four-top,.zijin-index .zijin-index-top .top_four .top-four-bottom,
.zijin-index .zijin-index-top .top_five .top-five-top,.zijin-index .zijin-index-top .top_five .top-five-bottom{
	content:'';
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	transition: all ease 1s;
}
.zijin-index .zijin-index-top .top_one .top-one-top{
	background: #d9544d;
	top: 0;
}
.zijin-index .zijin-index-top .top_one .top-one-bottom{
	background: #d9544d;
	bottom: 0;
}
.zijin-index .zijin-index-top .top_two .top-two-top{
	background:#e7cd04;
	top: 0;
}
.zijin-index .zijin-index-top .top_two .top-two-bottom{
	background:#e7cd04;
	bottom: 0;
}
.zijin-index .zijin-index-top .top_three .top-three-top{
	background: #48b2a6;
	top: 0;
}
.zijin-index .zijin-index-top .top_three .top-three-bottom{
	background: #48b2a6;
	bottom: 0;
}
.zijin-index .zijin-index-top .top_four .top-four-top{
	background: #4d6f8a;
	top: 0;
}
.zijin-index .zijin-index-top .top_four .top-four-bottom{
	background: #4d6f8a;
	bottom: 0;
}
.zijin-index .zijin-index-top .top_five .top-five-top{
	background: #8a2be2;
	top: 0;
}
.zijin-index .zijin-index-top .top_five .top-five-bottom{
	background: #8a2be2;
	bottom: 0;
}
@media (min-width:992px){
	.zijin-index .zijin-index-top .top_one:hover .top-one-top,
	.zijin-index .zijin-index-top .top_two:hover .top-two-top,
	.zijin-index .zijin-index-top .top_three:hover .top-three-top,
	.zijin-index .zijin-index-top .top_four:hover .top-four-top,
	.zijin-index .zijin-index-top .top_five:hover .top-five-top
	{
		height: 50px;
		top:-50px;
	}
}
@media (min-width: 992px){
	.zijin-index .zijin-index-top .top_one:hover .top-one-bottom,
	.zijin-index .zijin-index-top .top_two:hover .top-two-bottom,
	.zijin-index .zijin-index-top .top_three:hover .top-three-bottom,
	.zijin-index .zijin-index-top .top_four:hover .top-four-bottom,
	.zijin-index .zijin-index-top .top_five:hover .top-five-bottom{
		height: 50px;
		bottom:-50px;
	}
}
.zijin-index .zijin-index-top .top-box{
	/* position: absolute; */
	top:0;
	left:0;
	width:100%;
	color:#fff;
	text-align:center;
}
.zijin-index .zijin-index-top .top-box .needbgi{
	display: inline-block;
	margin: 40px auto;
	width: 80px;
	height: 70px;
}
.zijin-index .zijin-index-top .top-box  p{
	font-size: 16px;
}
.zijin-index .zijin-index-top .top_one .needbgi{
	background: url(../images/sprite_6.png) 0px -72px no-repeat;
}
.zijin-index .zijin-index-top .top_two .needbgi{
	background: url(../images/sprite_6.png) 0px 0px no-repeat;
}
.zijin-index .zijin-index-top .top_three .needbgi{
	background: url(../images/sprite_6.png)  0px -228px no-repeat;
}
.zijin-index .zijin-index-top .top_four .needbgi{
	background: url(../images/sprite_6.png) 0px -152px  no-repeat;
}
.zijin-index .zijin-index-top .top_five .needbgi{
	background:url(../images/sprite_6.png) 0px -360px no-repeat;
}
.zijin-index .zijin-index-top .top-box a{
	margin: 20px auto;
	display: inline-block;
	text-decoration: none;
	padding:10px 50px;
	color:#fff;
	border:  1px solid #fff;
	background: transparent;
	border-radius: 5px;
	cursor: pointer;
}
.zijin-index .zijin-index-body .item-one,.zijin-index .zijin-index-body .item-three{
	background: rgb(228,228,228);
}
.zijin-index .zijin-index-body .col-md-6{
	position: relative;
	padding: 125px 0;
	min-height: 400px;
	text-align: center;

}
.zijin-index .zijin-index-body .zijin-index-item p{
	font-size: 16px;
	color: #666;
}
.zijin-index .zijin-index-body .zijin-index-item .zijin-index-image{
	position: absolute;
	width: 100%;
	height: 110%;
	left: 0;
	bottom: 0;
	background:url(../images/content_uqer01.png) center center no-repeat;
	background-size: auto 100%;
}
.zijin-index .zijin-index-body .item-one .zijin-index-image{
	background-image:url(../images/content_uqer01.png);
}
.zijin-index .zijin-index-body .item-two .zijin-index-image{
	background-image:url(../images/content_uqer02.png);
}
.zijin-index .zijin-index-body .item-three .zijin-index-image{
	background-image:url(../images/content_uqer03.png);
}
.zijin-index .zijin-index-body .item-four .zijin-index-image{
	background-image:url(../images/content_uqer04.png);
}
/* 注册 */
.zijin-login-register{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	background: url(../images/login_bg.jpg) center center no-repeat;
	background-size:100% 100%;
	z-index: 2000;
}
.zijin-login-register .zijin-reglog-box{
	margin: 120px auto 0;
	width: 400px;
}
.zijin-login-register .zijin-reglog-box h1{
	margin: 0;
	color: #fff;
	font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.zijin-login-register .zijin-reglog-box form{
	margin-top:15px; 
}
.zijin-login-register .zijin-reglog-box .form-group{
	margin-top: 25px;
	margin-bottom: 0;
}
.zijin-login-register .zijin-reglog-box input{
    height: 42px;
    padding: 0 15px;
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.zijin-login-register .zijin-reglog-box input:focus{
	outline: none;
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.zijin-login-register .zijin-reglog-box button{
	width: 100%;
    height: 44px;
    padding: 0;
    background: #ef4300;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff730e;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.zijin-login-register .zijin-reglog-box button:hover{
	-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.zijin-login-register .zijin-reglog-box input::-moz-placeholder { color: #fff!important;}
.zijin-login-register .zijin-reglog-box input:-moz-placeholder { color: #fff!important;}
.zijin-login-register .zijin-reglog-box input:-ms-input-placeholder { color: #fff!important;}
.zijin-login-register .zijin-reglog-box input::-webkit-input-placeholder { color: #fff!important; }
.zijin-login-register .btn-link{
    padding: 0;
    color:#e3170d;
}
.zijin-study{
	background: #fafafa;
}
.zijin-study-head{
	position: relative;
	padding:150px 0;
	text-align: center;
	color: #f5f5ff;
	background: url(../images/fupan_bg.jpg) center 20% no-repeat;
	background-size: 100% auto;
}
.zijin-study .zijin-study-head .zijin-study-bigmask{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0,0,0,.3);
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	transition: all ease 1.5s;
}
.zijin-study .zijin-study-head:hover .zijin-study-bigmask{
	background: rgba(0,0,0,.5);
}
.zijin-study .zijin-study-head h1{
	position: relative;
	z-index: 10;
	margin-bottom: 50px;
	letter-spacing: 2px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
.zijin-study .zijin-study-head p{
	position: relative;
	z-index: 10;
	font-size: 18px;
}
/* .zijin-study-head p.zijin-study-text1{
	margin-bottom:10px;
	font-size: 26px;
	font-weight: 700;
	color:#5faee3;
	font-style: italic;
}
.zijin-study-head p.zijin-study-text2{
	margin-bottom: 34px;
	font-size: 32px;
	font-weight: 700;
	color: #ff6100;
	text-shadow: 0px 0px 1px #000;
}
@media (max-width: 992px){
	.zijin-study-head p.zijin-study-text1{
		font-size: 22px;
	}
	.zijin-study-head p.zijin-study-text2{
		font-size: 26px;
	}
}
@media (max-width: 768px){
	.zijin-study-head p.zijin-study-text1{
		font-size: 18px;
	}
	.zijin-study-head p.zijin-study-text2{
		font-size: 22px;
	}
}
@media (max-width: 450px){
	.zijin-study-head p.zijin-study-text1{
		font-size: 14px;
	}
	.zijin-study-head p.zijin-study-text2{
		font-size: 16px;
	}
} */
.zijin-study-body{
	padding:60px 0 0;
	background: url(../images/about-section-bg.jpg);
	background-size: 100% auto;
}
.zijin-study-body .zijin-study-item{
	text-align: center;
}
@media (max-width: 991px){
	.zijin-study-body .zijin-study-item{
		margin-bottom: 20px;
	}
}
.zijin-study-body .zijin-study-item .zijin-study-box{
	position: relative;
	padding-bottom: 20px;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
}
.zijin-study-body .zijin-study-item .zijin-study-line{
	position: absolute;
	opacity: 0;
	left: 50%;
	top:0;
	width: 0;
	height: 100%;
	border: 8px solid #ff9912;
	background: transparent;
	-moz-transition:all ease 1s;
	-o-transition:all ease 1s;
	-webkit-transition:all ease 1s;
	transition:all ease 1s;
}
.zijin-study-body .study-item-one:hover .study-line1{
	opacity: 1;
	width: 100%;
	left: 0;
}
.zijin-study-body .study-item-two:hover .study-line2{
	opacity: 1;
	width: 100%;
	left: 0;
}
.zijin-study-body .study-item-three:hover .study-line3{
	opacity: 1;
	width: 100%;
	left: 0;
}
.zijin-study-body .study-item-four:hover .study-line4{
	opacity: 1;
	width: 100%;
	left: 0;
}
.zijin-study-body .zijin-study-item i{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 120px;
	height: 120px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.zijin-study-body .zijin-study-item h3{
	margin:0 0 15px;
	color: #39629A;
}
.zijin-study-body .zijin-study-item p{
	margin-bottom: 0;
	min-height: 60px;
	padding:0 20px;
	color: #333;
}
.zijin-study-body .study-item-one .zijin-study-box{
	background: #BEE7FD;
}
.zijin-study-body .study-item-one i{
	background-image: url(../images/57bbc5e7ea07a_12.png);
}
.zijin-study-body .study-item-two .zijin-study-box{
	background: #D2DBFC;
}
.zijin-study-body .study-item-two i{
	background-image: url(../images/57eb2fc7c6d8b_10.png);
}
.zijin-study-body .study-item-three .zijin-study-box{
	background: #ebb0e8;
}
.zijin-study-body .study-item-three i{
	background-image: url(../images/57bbc5e7ea07a_12-09.png);
}
.zijin-study-body .study-item-four .zijin-study-box{
	background: #f8c5c3;
}
.zijin-study-body .study-item-four i{
	background-image: url(../images/57eb2fc7c6d8b_25.png);
}
.zijin-study-footer{
	padding: 60px 0;
}
.zijin-study-footer button{
	margin: 16px 0 24px;
	padding: 0;
	width: 180px;
	height: 60px;
	border: none;
	outline: none;
	border-radius: 6px;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: bold;
	box-shadow: inset 0 1px 10px 1px #d9d9d9, 0 1px 0 #bfbfbf,
	 0 6px 0 #a6a6a6, 0 8px 4px 1px #737373;
	-webkit-box-shadow: inset 0 1px 10px 1px #d9d9d9, 0 1px 0 #bfbfbf,
	 0 6px 0 #a6a6a6, 0 8px 4px 1px #737373;
}
.zijin-study-footer button:active{
	margin: 20px 0;
	box-shadow: inset 0 1px 10px 1px #d9d9d9, 
	0 1px 0 #bfbfbf, 0 2px 0 #a6a6a6, 0 4px 3px 0px #737373;
	-webkit-box-shadow: inset 0 1px 10px 1px #d9d9d9, 
	0 1px 0 #bfbfbf, 0 2px 0 #a6a6a6, 0 4px 3px 0px #737373;
}
.zijin-study-footer img{
	width: 100px;
	height: auto;
	-moz-animation: myrotate 3s linear 0s infinite;
	-o-animation: myrotate 3s linear 0s infinite;
	-webkit-animation: myrotate 3s linear 0s infinite;
	animation: myrotate 3s linear 0s infinite;
}
.zijin-study-footer .zijin-study-leftbtn{
	background: transparent url(../images/579a20e31790a_07.png) center center no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.zijin-study-footer .zijin-study-rightbtn{
	background: transparent url(../images/579a20e31790a_03.png) center center no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.zijin-study-footer .zijin-study-middlebtn {
	background: transparent url(../images/adfadf.png) center center no-repeat;
	background-size: 100% 100%;
	color: #fff
}
@keyframes myrotate{
   0% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
  25% {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
  }
   50% {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
  }
   75% {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
  }
   100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
  }
}




































