<div class="zijin-complie">
	<div class="zijin-complie-head">
		<span ng-init="name='新策略'" ng-bind='name' class="zijin-complie-name" tooltip new-name data-toggle='tooltip' data-placement='right' title="重命名"></span>
        <!-- <span ng-bind='name' class="zijin-complie-name" ng-show='fate==0'></span> -->
		<input type="text" ng-model='name' class="zijin-complie-hidname">
        <img src="images/demo-yellow-arrow.gif" alt="" ng-hide='fate==1'>
	</div>
	<div class="zijin-complie-body">
		
		<div class="row">
			<div class="col-lg-7 col-md-8 col-sm-12">
				<div class="zijin-complie-left">
					<div class="zijin-complie-top">
						<button ng-click='addNew()'>保存</button>
						<!-- <button>编译策略</button> -->
					</div>
					<div id="editor"></div>
				</div>	
			</div>
			<div class="col-lg-5 col-md-4 col-md-12">
				<div class="zijin-complie-right">
					<div class="zijin-complie-top">
						<!-- <span>从</span>
                        <input type="text">
                        <span>至</span>
                        <input type="text">
                        <span>￥</span>
                        <input type="text"> -->
						<button ng-click='openMask()'>运行回测</button>
					</div>
					<div class="zijin-complie-highcharts">
						<div id="complie-highcharts" style="height: 400px; width: 98%;"></div>
						<p class="zijin-complie-placeholder">请编译你的策略</p>
					</div>
				</div>
				<div class="zijin-complie-bottom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="" data-toggle='tab' data-target='.zijin-complie-item1'>日志</a>
						</li>
						<li>
							<a href="" data-toggle='tab' data-target='.zijin-complie-item2'>运行时错误</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active zijin-complie-item1" >
                            <p ng-repeat='x in logs'>{{x}}</p>
						</div>
						<div class="tab-pane fade  zijin-complie-item2" >
                            <p ng-repeat='x in errors'>{{x}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<div class="zijin-table-mask complie-mask">
    <div class="mask-box container">
        <div class="row">
            <div class=" col-sm-8 col-sm-offset-2">
                <form ng-submit="addHisStrategy()" name="newHisStrategy1" novalidate="" enctype="multipart/form-data" id="newHisStrategy1">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model='hisItem.name' placeholder="策略名" required>
                    </div>
                   <div class='form-group'>
                        <div class="checkbox">
                            <label for="barLable">
                                <input type="checkbox"
                                        name="modeOptions11"
                                        ng-model='modeBarOptions'
                                        id="barLable1" ng-change='getBarList()' checked="true">
                                bar
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="tickLable">
                                <input type="checkbox"
                                        name="modeOptions12"
                                        ng-model='modeTickOptions'
                                        id="tickLable1" ng-change='getTickList()'>
                                tick
                            </label>
                        </div>    
                   </div>
                   <div class="form-group">
                        <label for="">开始时间</label>
                        <select ng-model='hisItem.start' ng-options='x for x in hisItem.time'></select>
                   </div>
                   <div class="form-group">
                        <label for="">结束时间</label>
                        <select ng-model='hisItem.end' ng-options='x for x in hisItem.time'></select>
                   </div>
                    <div class="form-group">
                        <label>代码依赖文件：</label><input type="file" name="hisFile" file-model='files' placeholder="代码依赖文件">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <input class="btn-success btn" type="submit" value="提交">
                        <input class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
                    </div> 
                </form>
            </div>  
        </div>  
    </div>
</div> 