<div class="modalRes">
	<!--<img src="images/modalRes_bg.jpg" alt="" class='modalRes-bg'>-->
	<div class="modalRes-head">
		<div class="container">
			<h1>模型研究库</h1>
			<p>	紫金平台-量化模型部分，研究着重于从金融数据这一最原始资源中去挖掘数据本身固有的规律。</p>
			<p>结合机器学习，时间序列数据分析，数理统计等多种量化手段来构建预测模型。</p>
			<p>针对不同交易品种数据设计相应的量化模型，我们从不相信可以设计一个能包打天下的模型。</p>
			<p>最终基于设计好的预测模型来进行交易策略的编写，从而实现全自动量化交易过程。这整个过程中的重点则是基于金融数据的量化模型。</p>
			<p>我们分享了部分我们的研究，也期待有更多人可以分享他们自己的模型，策略。</p>

		</div>
		<div class="modalRes-bigmask"></div>

		<!--<div class="container">
			<div class="row">

				<div class="col-sm-3">
					<h2 class="modalRes-head-title  col-xs-12">	<i class="modalRes-head-icon"></i>模型研究库</h2>
				</div>
				<div class="col-sm-1"></div>
				<span class="modalRes-head-text col-sm-8 col-xs-12" >
					<small class="top"></small>
					<small class="right"></small>
					<small class="bottom"></small>
					<small class="left"></small>
					紫金平台-量化模型部分，研究着重于从金融数据这一最原始资源中去挖掘数据本身固有的规律。结合机器学习，时间序列数据分析，数理统计等多种量化手段来构建预测模型。针对不同交易品种数据设计相应的量化模型，我们从不相信可以设计有一个能包打天下的模型。最终基于设计好的预测模型来进行交易策略的编写，从而实现全自动量化交易过程。这整个过程中的重点则是基于金融数据的量化模型。我们分享了部分我们的研究，也期待有更多人可以分享他们自己的模型，策略。
        </span>
			</div>
		</div>-->

	</div>
	<div class="modalRes-body">
		<div class="modalRes-obj modalRes-list">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="modalRes-list-title">
							<i class="modalRes-list-icon modalRes-list-icon1"></i>
							<span class="modalRes-list-text">金融数据</span>
							<i class="modalRes-list-plus" data-toggle="tooltip" data-placement="right" tooltip title="增加模型" ng-click='openModalResObj()'>+</i>
						</h3>
					</div>	
				</div>		
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<box mydata='x' ng-repeat='x in modalResObjList1' username='username' close-mask='closeMask()'></box>	
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="modalRes-method modalRes-list">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="modalRes-list-title">
							<i class="modalRes-list-icon modalRes-list-icon2"></i>
							<span class="modalRes-list-text">量化策略</span>
							<i class="modalRes-list-plus" data-toggle="tooltip" data-placement="right" tooltip title="增加模型" ng-click='openModalResMet()'>+</i>
						</h3>
					</div>	
				</div>		
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<box mydata='x' ng-repeat='x in modalResObjList2' username='username' close-mask='closeMask()'></box>	
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="modalRes-exa modalRes-list">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="modalRes-list-title">
							<i class="modalRes-list-icon modalRes-list-icon3"></i>
							<span class="modalRes-list-text">量化模型</span>
							<i class="modalRes-list-plus" data-toggle="tooltip" data-placement="right" tooltip title="增加模型" ng-click='openModalResExa()'>+</i>
						</h3>
					</div>	
				</div>		
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<box mydata='x' ng-repeat='x in modalResObjList3' username='username' close-mask='closeMask()'></box>	
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- <div class="modalRes-data modalRes-list">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="modalRes-list-title">
							<i class="modalRes-list-icon modalRes-list-icon4"></i>
							<span class="modalRes-list-text">研究资料-金融数据</span>
							<i class="modalRes-list-plus" data-toggle="tooltip" data-placement="right" tooltip title="增加模型">+</i>
						</h3>
					</div>	
				</div>		
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<box mydata='x' ng-repeat='x in modalResObjList4'></box>	
						</div>
					</div>
				</div>
			</div>	
		</div> -->
	</div>
	<!-- mask-obj -->
	<div class="modalRes-mask modalRes-mask-obj">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<form ng-submit='addModalResObj()' name='modalResObjForm' novalidate="">
						<h3 class="text-center">金融数据</h3>
						<div class="form-group">
							<input type="text" class="form-control" ng-model='modalResObj.title' placeholder="主题" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='modalResObj.content' placeholder="内容（ 支持markdown格式，参考网站：http://www.markdown.cn/）" required=""></textarea>
						</div>
						<div class="btn-group btn-group-lg" style="width:100%;position: relative;left: 40%;">
							  <input class="btn-success btn" type="submit" value="创建" style="margin-right: 2%">
	              <input class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
	          </div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- mask-met -->
	<div class="modalRes-mask modalRes-mask-met">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<form ng-submit='addModalResMet()' name='modalResMetForm' novalidate="">
						<h3 class="text-center">量化策略</h3>
						<div class="form-group">
							<input type="text" class="form-control" ng-model='modalResMet.title' placeholder="主题" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='modalResMet.content' placeholder="内容（ 支持markdown格式，参考网站：http://www.markdown.cn/）" required=""></textarea>
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='modalResMet.code' placeholder="代码" required=""></textarea>
						</div>
						<div class="btn-group btn-group-lg" style="width:100%;position: relative;left: 40%;">
	                        <input class="btn-success btn" type="submit" value="创建" style="margin-right: 2%">
	                        <input class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
	                    </div> 
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- mask-exa -->
	<div class="modalRes-mask modalRes-mask-exa">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<form ng-submit='addModalResExa()' name='modalResExaForm' novalidate="">
						<h3 class="text-center">量化模型</h3>
						<div class="form-group">
							<input type="text" class="form-control" ng-model='modalResExa.title' placeholder="主题" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='modalResExa.content' placeholder="内容（ 支持markdown格式，参考网站：http://www.markdown.cn/）" required=""></textarea>
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='modalResExa.code' placeholder="代码" required=""></textarea>
						</div>
						<div class="btn-group btn-group-lg" style="width:100%;position: relative;left: 40%;">
	                        <input class="btn-success btn" type="submit" value="创建" style="margin-right: 2%">
	                        <input class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
	                    </div> 
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- mask-obj-item -->
	<!-- <div class="modalRes-mask modalRes-mask-objItem">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<form ng-submit='addModalResObj()' name='modalResObjForm' novalidate="">
						<h3 class="text-center">研究对象-金融数据</h3>
						<div class="form-group">
							<input type="text" class="form-control" ng-model='modalResObjItem.title' placeholder="主题" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='modalResObjItem.content' placeholder="内容" required=""></textarea>
						</div>
						<br>
						{{modalResObjItem}}
						<div class="btn-group btn-group-lg">
	                        <input class="btn-success btn" type="submit" value="提交修改">
	                        <input class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
	                    </div> 
					</form>
				</div>
			</div>
		</div>
	</div> -->
</div>