<div class="modalRes-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="modalRes-box-wrapper">
		<a href='#/{{mydata.classify}}/{{mydata._id}}' class="modalRes-box-title" ng-bind='mydata.title'></a>
		<!-- <p class="modalRes-box-text">{{mydata.text_content}}</p> -->
		<i class="modalRes-box-plus" data-toggle="tooltip" data-placement="left" title="修改模型" tooltip ng-show='mydata.author==username||username=="admin"'>+</i>
		<i class='modalRes-box-del fa fa-trash-o' ng-show='username=="admin"'></i> 
		<div class="modalRes-box-mask"></div>
		<div class="modalRes-box-top"></div>
		<div class="modalRes-box-right"></div>
		<div class="modalRes-box-bottom"></div>
		<div class="modalRes-box-left"></div>
		<div class='modalRes-box-info'>
			<span class="modalRes-box-author" ng-bind='mydata.author'></span>
			<span class='modalRes-box-text'>发布于</span>
			<span class="modalRes-box-date" ng-bind='mydata.date'></span>
		</div>	
	</div>	

	<div class="modalRes-mask modalRes-mask-objItem">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<!-- <form ng-submit='revModalResObj(mydata)' name='modalResObjForm' novalidate=""> -->
					<form name='modalResObjForm' novalidate="">
						<h3 class="text-center">研究对象-金融数据</h3>
						<div class="form-group">
							<input type="text" class="form-control" ng-model='mydata.title' placeholder="主题" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-model='mydata.content' placeholder="内容（ 支持markdown格式，参考网站：http://www.markdown.cn/）" required=""></textarea>
						</div>
						<div class="form-group" ng-show='mydata.classify=="model_methods" || mydata.classify=="model_examples"'>
							<textarea class="form-control" ng-model='mydata.code' placeholder="内容" required=""></textarea>
						</div>
						<div class="btn-group btn-group-lg">
	                        <input class="btn-success btn" type="button" value="提交修改">
	                        <input class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
	                    </div> 
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

