<div class="zijin-table">
    <div class="zijin-table-head">
        <div class="container">
            <h1>策略运行配置</h1>
            <p>无论你使用了MachineLearning，DeepLearning，多因子模型，经典海龟模型，量化择时，情绪指数，统计套利等等各种方法，,写出了年化收益最高，最大回撤奇低的各种模型。</p>
            <p>无论你策略在历史数据上回撤多么优秀，一切见真章，你必须要做实验模拟，来检测你策略真正运行效果。</p>
            <p>平台支持 策略加载，基于策略分别可以创建历史回测，实盘模拟，真实交易。由回测到模拟到真实交易，交易条件越来越苛刻。</p>
        </div> 
        <div class="zijin-table-bigmask"></div>
    </div>
    <style>
        .error{
            color:red;
        }
    </style>
    <div class="zijin-table-body container sourcing-strategy;">
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span><i class="glyphicon glyphicon-edit btn-sm" style="margin-bottom: 4px"></i>策略代码</span>
            <i style="margin-bottom: 4px" class="zijin-table-add" ng-click='openMaskSourcing()' data-toggle="tooltip"  data-placement="right" title="增加策略" tooltip></i>
        </div>
        <div class="table-responsive1" style="width: 100%;">
            <table class="table table-bordered table-hover table-striped table-responsive"  sourcing-table style="width: 100%;">
                <thead class="">
                    <tr>
                        <th class="" style="width: 24.75%">策略类名</th>
                        <th class="" style="width: 24.98%">代码文件名</th>
                        <th class="" style="width: 8.32%">作者</th>
                        <th class="" style="width:8.33%">状态</th>
                        <th class="" >策略操作</th>
                    </tr>
                </thead>
            </table>
            <div id="container3" style="overflow-y: scroll; height: 300px;margin: -1.8% 0 0 0;
">
                <table class="table  table-responsive"  sourcing-table style="width: 100%;">
                <tbody >
                    <tr ng-repeat='d in mySourcingStrategy '>
                        <td class="hidden-id"  style="display: none" ng-bind='d._id'></td>
                        <!--<td><a href="#/complie/{{d._id}}" ng-bind="d.class_name"></a></td>-->
                        <td class="col-xs-3" ng-bind="d.class_name" ></td>
                        <td> <a  id="downpy" style="text-decoration:none" ng-bind="d.code_name" title="点击下载代码" href=""   ng-click="downpy(d._id)" target="_blank"></a></td>                        <td class="col-xs-1" ng-bind="d.author"></td>
                        <td class="col-xs-1" ng-bind="d.status" title="{{d.title}}" class={{d.color}}></td>
                        <td class="col-xs-4">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-success his-add" ng-click="addhis(this)">历史回测 <i class="fa fa-plus"></i></button>
                                <button class="btn btn-info firm-add" ng-click="addfirm(this)">实盘模拟<i class="fa fa-plus"></i></button>
                                <button ng-if='user.is_admin==true' class="btn btn-warning strategy-pause" ng-click="addtrue(this)">真实交易<i class="fa fa-plus"></i></button>
                                <button class="btn btn-danger sour-del" ng-click="delsour(this)">删除策略 <i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <style>
        .logs{
            display: none;
            height:410px;
            width:550px;
            padding: 10px;
            border-radius:10px;
            position: fixed;
            top:40%;
            left:40%;
            z-index: 99999;
            border: 1px solid #aaa;
            background-color: #fff;
        }
    </style>
    <div id="logs" class="logs">
        <a style="float: right"  ng-click="colselog()"><i class="fa fa-remove"></i></a>
        <div id="logname" style="text-align: center"></div>
        <div class="loadEffect">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="log" style="height:370px;overflow:scroll"></div>
    </div>
    <div class="zijin-table-body container firm-strategy" ng-if='user.is_admin==true'>
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span style="color:#f0ad4e"><i class="glyphicon glyphicon-ok btn-sm" style="margin-bottom: 4px;"></i>真实交易</span>
        </div>
        <div class="table-responsive1" style="width: 100%;">
            <div id="mytable6" style="width: 100%;border-top-right-radius: 5px;border-top-left-radius: 5px">
                <table class="table table-bordered table-hover table-striped" strategy-table style="width: 100%;-webkit-box-shadow: 0 0 10px #ddd;-moz-box-shadow: 0 0 10px #ddd;box-shadow: 0 0 10px #ddd;">
                    <thead class="bg-success">
                    <tr>
                        <!--<th class="col-xs-2">选择</th>-->
                        <th class="" style="width: 22.85%">交易名</th>
                        <th class="" style="width: 22.11%">策略代码</th>
                        <th class="" style="width: 7.87%">合约代码</th>
                        <th class="" style="width: 8.1%">作者</th>
                        <th class="" style="width:8.9%">状态</th>
                        <th class="" >策略操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div id="container6" style="width: 100%; overflow-y: scroll; height: 300px;margin-top: -1.8%">
                <table class="table table-responsive"  sourcing-table style="width: 100%;">
                    <tbody>
                    <tr ng-repeat='d in trueStrategy  | filter:func'>
                        <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                        <!--<td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection2(this)" ng-checked="all2"><a hidden>{{d.flag}}</a></td>-->
                        <td ng-bind="d.name" style="width: 23.2%" ></td>
                        <td ng-bind="d.class_name" class="" style="width: 22.11%"></td>
                        <td ng-bind="d.symbol" style="width: 7.87%"></td>
                        <td ng-bind="d.author" style="width: 8.1%"></td>
                        <td ng-bind="d.status" style="width:8.9%" title="{{d.title}}"  class={{d.color}}></td>
                        <td class="col-xs-4">
                            <div class="btn-group btn-group-sm">
                                <!--  <button  class="btn btn-info strategy-ini">初始化 <i class="icon-circle-blank"></i></button> -->
                                <button  class="btn btn-success strategy-start" ng-click="starttrue(this)">启动 <i class="fa fa-play"></i></button>
                                <button class="btn btn-warning strategy-pause" ng-click="truepause(this)">停止 <i class="fa fa-pause"></i></button>
                                <button  class="btn btn-danger strategy-del" ng-click="deltrue(this)">删除 <i class="fa fa-remove"></i></button>
                                <button class="btn btn-info" ng-click="log1(this)">运行日志输出 </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <div class="zijin-table-body container firm-strategy">
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span style="color:#46b8da"><i class="glyphicon glyphicon-th-large btn-sm" style="margin-bottom: 4px"></i>实盘模拟</span>
        </div>
        <div class="table-responsive1" style="width: 100%;">
            <div id="mytable1" style="width: 100%;">
            <table class="table table-bordered table-hover table-striped" strategy-table style="width: 100%;">
                <thead class="bg-success">
                    <tr>
                        <!--<th class="col-xs-2">选择</th>-->
                        <th class="" style="width: 24.8%">实盘名</th>
                        <th class="" style="width: 24.7%">策略代码</th>
                        <th class="" style="width: 8.23%">合约代码</th>
                        <th class="" style="width: 8.25%">作者</th>
                        <th class="" style="width:6.68%">状态</th>
                        <th class="" >策略操作</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div id="container1" style="width: 100%; overflow-y: scroll; height: 300px;margin-top: -1.8%">
                <table class="table table-responsive"  sourcing-table style="width: 100%;">
                <tbody>
                    <tr ng-repeat='d in myStrategy  | filter:func'>
                        <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                        <!--<td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection2(this)" ng-checked="all2"><a hidden>{{d.flag}}</a></td>-->
                        <td ng-bind="d.name"  class="col-xs-3"></td>
                        <td ng-bind="d.class_name"  class="col-xs-3"></td>
                        <td ng-bind="d.symbol" class="col-xs-1"></td>
                        <td ng-bind="d.author" class="col-xs-1"></td>
                        <td ng-bind="d.status"   class="" title="{{d.title}}"  class={{d.color}}></td>
                        <td >
                            <div class="btn-group btn-group-sm">
                               <!--  <button  class="btn btn-info strategy-ini">初始化 <i class="icon-circle-blank"></i></button> -->
                                <button  class="btn btn-success strategy-start" ng-click="startstrategy(this)">启动 <i class="fa fa-play"></i></button>
                                <button class="btn btn-warning strategy-pause" ng-click="strategypause(this)">停止 <i class="fa fa-pause"></i></button>
                                <button  class="btn btn-danger strategy-del" ng-click="delstrategy(this)">删除 <i class="fa fa-remove"></i></button>
                                <button class="btn btn-info" ng-click="log2(this)">运行日志输出 </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>    
    </div>
    <div class="zijin-table-body container his-strategy">
        <div class="zijin-table-title" style="margin-bottom: 5px">
            <span style="color: #5cb85c;"><i class="glyphicon glyphicon-time btn-sm" style="margin-bottom: 4px;font-size: 18px"></i>历史回测</span>
            <!-- <i class="zijin-table-add" ng-click='openMask()' data-toggle="tooltip"  data-placement="right" title="增加策略" tooltip></i> -->
            <input  type="checkbox" ng-model="all3" style="margin-left: 40px;width: 20px;height:20px;vertical-align:middle;margin-right: 5px"ng-click="selectall3()"><span style="color: #5cb85c;">全选</span>
            <button  class="btn btn-success" ng-click="delsel3()" style="margin-left: 40px;margin-top: 2px;">删除选择</button>
        </div>
        <div class="table-responsive1" style="width: 100%;">
            <div id="mytable" style="width: 100%">
            <table class="table table-bordered table-hover table-striped" his-table style="width: 100%;">
                <thead class="bg-success">
                    <tr>
                        <th style="width: 5.1%" >选择</th>
                        <th style="width: 8.6%" >回测名</th>
                        <th style="width: 17.13%">策略代码</th>
                        <th  style="width: 8.52%">mode</th>
                        <th  style="width: 8.55%">开始时间</th>
                        <th style="width: 8.55%">结束时间</th>
                        <th style="width: 8.6%" >作者</th>
                        <th   style="width: 8.5%">状态</th>
                        <th >策略操作</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div id="container" style="width: 100%; overflow-y: scroll; height: 300px;margin-top: -1.8%">
                <table class="table table-responsive"  sourcing-table style="width: 100%;">
            <tbody>
                    <tr ng-repeat='d in myHisStrategy | filter:func'>
                        <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                        <td style="width: 5%">
                            <input type="checkbox"  style="width: 20px;height:20px;" ng-click="updateSelection3(this)" ng-checked="all3"><a hidden>{{d.flag}}</a>
                        </td>
                        <td ng-bind="d.name" class="col-xs-1"></td>
                        <td ng-bind="d.class_name" class="col-xs-2"></td>
                        <td ng-bind="d.mode" class="col-xs-1"></td>
                        <td ng-bind="d.start" class="col-xs-1"></td>
                        <td ng-bind="d.end" class="col-xs-1"></td>
                        <td ng-bind="d.author" class="col-xs-1"></td>
                        <td ng-bind="d.status" title="{{d.title}}" class="col-xs-1" class={{d.color}}></td>
                        <td class="col-xs-3">
                            <div class="btn-group btn-group-sm">
                                <button  class="btn btn-success strategy-start" ng-click="strategystart(this)">启动 <i class="fa fa-play"></i></button>
                                <button class="btn btn-warning strategy-pause" ng-click="pausestrategy(this)">停止 <i class="fa fa-pause"></i></button>
                                <button  class="btn btn-danger strategy-del" ng-click="strategydel(this)">删除 <i class="fa fa-remove"></i></button>
                                <button class="btn btn-info" ng-click="log3(this)">运行日志输出 </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>    
    </div>
    <style>
        .now{
            color:#46b8da
        }
        .his{
            color:#5cb85c
        }
        .true{
            color:#f0ad4e
        }
    </style>
    <div class="zijin-table-body container rec-strategy">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="zijin-table-title" style="width: 180px;" slide-toggle>
                    <span><i class="fa fa-trash btn-sm" ></i>回收站<span class="caret"></span></span>
                </div>

                <div class="table-responsive" style="display: none;">
                    <!--<button  class="btn btn-danger" style="margin-top:0px;background: #222;border-color: #222" ng-click="alldel()">-->
                    <!--清空回收站</button>-->
                    <input  type="checkbox" ng-model="all4" style="margin-left: 25px;width: 20px;height:20px;margin-bottom: 20px;vertical-align:middle;margin-right: 5px"ng-click="selectall4()">
                    <span style="color: #222;font-size: 30px;">全选</span>
                    <button  class="btn btn-danger allde4" ng-click="delsel4()" style="margin-left: 40px;margin-bottom: 20px;background: #222;border-color: #222">删除选择</button>
                    <table class="table table-bordered table-hover table-striped" style="border-radius:5px;overflow: hidden " strategy-table>
                        <thead class="bg-success">
                            <tr>
                                <th class="col-xs-1" style="width: 3%">选择</th>
                                <th class="col-xs-1">测试用例 </th>
                                <th class="col-xs-1">类型</th>
                                <th class="col-xs-1">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='d in allStrategys ' class={{d.color}}>
                                <td><input type="checkbox" style="width: 20px;height:20px;" ng-click="updateSelection4(this)" ng-checked="all4"><a hidden>{{d.flag}}</a></td>
                                <td class="hidden-id" style="display: none;" ng-bind='d._id'></td>
                                <td ng-bind="d.name"></td>
                                <td ng-bind="d.type"></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button  class="btn btn-danger strategy-del" ng-click="delhuishou(this)">删除<i class="fa fa-remove"></i></button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
    </div>

</div>

<!-- sourcing-mask -->
<div class="zijin-table-mask sourcing-mask">
    <div class="mask-box container">
        <div class="row">
            <div class=" col-sm-8 col-sm-offset-2">
                <form ng-submit="addSourcingStrategy()" name="newSourcingStrategy" novalidate="" enctype="multipart/form-data" id="newSourcingStrategy">
                    <div class="form-group" style="position: relative">
                       <span> <a href="Demo.py" target="_blank">首次编写策略请点击下载模版代码</a>&nbsp;&nbsp;&nbsp;
                           <a href="instructions.txt" download="instructions.txt" target="_blank"  id="downtxt">策略编写QuickStart</a>
                       </span>
                        <div id="title" style="display: none;height:400px;width:500px;padding: 10px;border-radius:10px;position: absolute;left: 50%;top: -55%;border: 1px solid #aaa;background-color: #fff;">
                            <pre style="height:380px;overflow:scroll">{{titleQuick}}</pre>
                    </div>
                        <input style="margin-top: 20px;" type="text" class="form-control" ng-model='itemSourcing.class_name ' placeholder="输入策略类名（策略类名必须与代码类名一致）" required>
                    </div>
                    <div class="form-group">
                        <label>上传策略代码：</label><input type="file" name="file"  file-model='sourcingCode' placeholder="代码" required="">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <input class="btn-success btn" type="submit"  value="提交" style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                        <input class="btn-warning btn" style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" ng-click="closeMask()" value="关闭" type="button">
                    </div>
                </form>
            </div>  
        </div>  
    </div>
</div>

<style>
    .ipt{
        width: 85%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .sel{
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>
<!-- firm mask -->
<div class="zijin-table-mask firm-mask">
    <div class="mask-box container">
        <div class="row">
            <div class=" col-sm-8 col-sm-offset-2" style="overflow-y: scroll;" id="test">
                <form ng-submit="addFirmStrategy()" name="newFirmStrategy" novalidate="" enctype="multipart/form-data" id="newFirmStrategy" novalidate>
                    <div class="form-group">
                        <label for="">实盘名：</label>&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" name="name" ng-model='firmItem.name' placeholder="请输入实盘名" required>
                        <div class="error" ng-messages='newFirmStrategy.name.$error' ng-if='newFirmStrategy.name.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">实盘名不能为空</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">交易所代码：</label>
                        <select class="sel" ng-model='firmItem.exchange'  ng-options='x.exchange as x.exchange for x in ex' ng-change="getsymbol2()"></select>
                    </div>
                    <div class="form-group">
                        <label for="">交易合约：</label>
                        <select class="sel" ng-model='firmItem.symbol'   ng-options='y.symbol as y.symbol for y in sy'></select>
                    </div>
                    <div class="form-group">
                        <label for="">交易手数：</label>
                        <input type="text" class="ipt" name="multiple" ng-model='firmItem.multiple' placeholder="策略交易手数的倍数" required>
                        <div class="error" ng-messages='newFirmStrategy.multiple.$error' ng-if='newFirmStrategy.multiple.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">请填写交易手数</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>代码依赖文件：</label><input type="file" name="firmFile" file-model='files' placeholder="代码依赖文件">
                    </div>
                    <div class="btn-group btn-group-lg">
                            <input style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" class="btn-success btn" type="submit" value="提交" ng-disabled='newFirmStrategy.$invalid'>
                        <input style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
                    </div> 
                </form>
            </div>  
        </div>  
    </div>
</div>

    <div class="zijin-table-mask true-mask">
        <div class="mask-box container">
            <div class="row">
                <div class=" col-sm-8 col-sm-offset-2" style="overflow-y: scroll;" id="test3">
                    <form ng-submit="addTrueStrategy()" name="newTrueStrategy" novalidate="" enctype="multipart/form-data" id="newTrueStrategy2" novalidate>
                        <div class="form-group">
                            <label for="">交易名：</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="ipt" name="name" ng-model='trueItem.name' placeholder="请输入交易名" required>
                            <div class="error" ng-messages='newTrueStrategy.name.$error' ng-if='newTrueStrategy.name.$touched' ng-message-multiple>
                                <small ng-message='required'style="color:red">交易名不能为空</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">交易所代码：</label>
                            <select class="sel" ng-model='trueItem.exchange'  ng-options='x.exchange as x.exchange for x in ex2' ng-change="getsymbol3()"></select>
                        </div>
                        <div class="form-group">
                            <label for="">交易合约：</label>
                            <select class="sel" ng-model='trueItem.symbol'   ng-options='y.symbol as y.symbol for y in sy'></select>
                        </div>
                        <div class="form-group">
                            <label for="">交易手数：</label>
                            <input type="text" class="ipt" name="multiple" ng-model='trueItem.multiple' placeholder="策略交易手数的倍数" required>
                            <div class="error" ng-messages='newTrueStrategy.multiple.$error' ng-if='newTrueStrategy.multiple.$touched' ng-message-multiple>
                                <small ng-message='required'style="color:red">请填写交易手数</small>
                            </div>

                        </div>
                        <div  class="form-group" ng-if='user.is_admin==true'>
                            <select class="sel" name="" id="" ng-model="trueItem.account" ng-options="id as id._id for id in ids"></select>
                            <label>账号id：{{trueItem.account.uid}}</label>
                            <label>交易所代码：{{trueItem.account.exchange}}</label>
                        </div>
                        <div class="form-group">
                            <label>代码依赖文件：</label><input type="file" name="trueFile" file-model='trueFile' placeholder="代码依赖文件">
                        </div>
                        <div class="btn-group btn-group-lg">
                            <input style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" class="btn-success btn" type="submit" value="提交" ng-disabled='newTrueStrategy.$invalid'>
                            <input style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- his mask -->
<div class="zijin-table-mask his-mask">
    <div class="mask-box container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="overflow-y: scroll;" id="test2">
                <form ng-submit="addHisStrategy()" name="newHisStrategy" novalidate="" enctype="multipart/form-data" id="newHisStrategy" class="form" style="border-radius: 6px;">
                    <div class="form-group">
                        <label for="" class="">回测名：</label>

                            <input type="text"  class="form-control" name="name" ng-model='hisItem.name' placeholder="请输入回测名" required>

                        <div class="error" ng-messages='newHisStrategy.name.$error' ng-if='newHisStrategy.name.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">回测名不能为空</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="">交易所代码：</label>

                            <select class="form-control" style="width: 20%;height: 30px" ng-model='hisItem.exchange' ng-options='x.exchange as x.exchange for x in ex' ng-change="getsymbol()"></select>

                    </div>
                    <div class="form-group">
                        <label for="" class="">交易合约：</label>
                        <!--<select class="sel" ng-model='hisItem.symbol' ng-options='y.symbol as y.symbol for y in sy' ng-change="changesymbol()"></select>-->

                            <input class="form-control" type="text" class="form-control" name="symbol" placeholder="请输入交易合约"  ng-change="changesymbol()" ng-model='hisItem.symbol'required>


                        <div class="error" ng-messages='newHisStrategy.symbol.$error' ng-if='newHisStrategy.symbol.$touched' ng-message-multiple>
                            <small ng-message='required'style="color:red">交易合约不能为空</small>
                        </div>
                    </div>
                   <div class='form-group'>
                        <div class="checkbox">
                            <label for="barLable">
                                <input type="checkbox"
                                        name="modeOptions1"
                                        ng-model='modeBarOptions'
                                        id="barLable" ng-change='getBarList()' checked="true">
                                bar
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="tickLable">
                                <input type="checkbox"
                                        name="modeOptions2"
                                        ng-model='modeTickOptions'
                                        id="tickLable" ng-change='getTickList()'>
                                tick
                            </label>
                        </div>    
                   </div>
                   <div class="form-group">

                           <label for="">开始时间：</label>
                           <input readonly="readonly" class="sel" onChange=""   ng-model="hisItem.start" id="startTime" class="Wdate" type="text" onFocus="WdatePicker({minDate:startMinDate(),maxDate:startMaxDate(),dateFmt:'yyyy-MM-dd',qsEnabled:false,disabledDates:delDate()})"/>

                           <!--</div>-->
                           <!--<div class="form-group">-->
                           <label for="">结束时间：</label>
                           <input readonly="readonly" class="sel" onChange=""  ng-model='hisItem.end' id="endTime" class="Wdate" type="text" onFocus="WdatePicker({minDate:endMinDate(),maxDate:endMaxDate(),dateFmt:'yyyy-MM-dd',qsEnabled:false,disabledDates:delDate()})"/>


                   </div>
                    <div class="form-group">

                            <label>代码依赖文件：</label>
                            <input type="file" name="hisFile" file-model='files' placeholder="代码依赖文件">


                    </div>
                    <div class="form-group">
                        <div class="btn-group btn-group-lg">
                            <input style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" class="btn-success btn" type="submit" value="提交" ng-disabled='newHisStrategy.$invalid'>
                            <input style="margin-left: 20px;border-bottom-left-radius: 5px;border-top-left-radius: 5px" class="btn-warning btn" ng-click="closeMask()" value="关闭" type="button">
                        </div>
                    </div>
                </form>
            </div>  
        </div>  
    </div>
</div>
</div>