<div class="zijin-index">
	<div class="zijin-index-head">
		<div class="zijin-index-title">
			<div class="container">
				<h2>让投资更轻松</h2>
				<p>紫金量化 — 高效实用的量化策略平台</p>
				<a ng-href="" class="zijin-index-btn">
					<span class=" hidden-sm hidden-xs line line-top"></span>
					<span class=" hidden-sm hidden-xs line line-left"></span>
					<span class=" hidden-sm hidden-xs line line-right"></span>
					<span class=" hidden-sm hidden-xs line line-bottom"></span>
					<button ng-click='complie()'>加入我们</button>
					<ul class="zijin-index-messages">
						<li>  极简易用的策略部署模式，回测，实盘，真实交易，逐步递进，任意切换。</li>
						<li>  策略交易结果可视化，标准化交易分析报告自动生成，迭代优化策略。</li>
						<li>  日内G级别的金融数据，智能化，高鲁棒的量化模型研究，测试支持。</li>
					</ul>
				</a>
			</div>
		</div>
		<div class="zijin-index-carousel carousel slide">
	 		<ol class="carousel-indicators">
	 			<li data-target='.zijin-index-carousel' data-slide-to='0' class="active"></li>
	 			<li data-target='.zijin-index-carousel' data-slide-to='1'></li>
	 			<li data-target='.zijin-index-carousel' data-slide-to='2'></li>
	 		</ol>
	 		<div class="carousel-inner">
	 			<div class="item active">
					<!-- <img src="images/index_car_1.jpg" alt=""> -->
					<div class="zijin-index-carImg carImg1"></div>
	 			</div>
	 			<div class="item">
	 				<div class="zijin-index-carImg carImg2"></div>
	 				<!-- <img src="images/index_car_2.jpg" alt=""> -->
	 			</div>
	 			<div class="item">
	 				<div class="zijin-index-carImg carImg3"></div>
	 				<!-- <img src="images/index_car_1.jpg" alt=""> -->
	 			</div>
	 			<!-- <div class="item">
	 				<img src="images/4.jpg" alt="">
	 			</div> -->
	 		</div>
	 		<a data-target='.zijin-index-carousel' class="carousel-control left" data-slide='prev'>
				<span class="glyphicon glyphicon-chevron-left"></span>
	 		</a>
	 		<a data-target=".zijin-index-carousel" class="carousel-control right" data-slide='next'>
	 			<span class="glyphicon glyphicon-chevron-right"></span>
	 		</a>
	 	</div>
	</div>
	<div class="zijin-index-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-sm-4 col-lg-offset-1 top_one ">
					<div class="top-box">
						<i class="needbgi"></i>
						<h3>数据研究</h3>
						<p>基于分钟</p>
						<p>tick数据研究</p>
						<a ng-href="" class="">了解更多</a>
					</div>	
					<div class="top-one-top"></div>
					<div class="top-one-bottom"></div>
				</div>
				<div class="col-lg-2 col-sm-4 top_five ">
					<div class="top-box">
						<i class="needbgi"></i>
						<h3>量化模型</h3>
						<p>学习分享量化模型</p>
						<p>了解智能的模型设计</p>
						<a ng-click='hashLocation("/modalRes")' class="">了解更多</a>
					</div>	
					<div class="top-five-top"></div>
					<div class="top-five-bottom"></div>
				</div>
				<div class="col-lg-2 col-sm-4 top_three">
					<div class="top-box">
						<i class="needbgi"></i>
						<h3>策略开发</h3>
						<p>支持策略代码开发</p>
						<p>直接在交易平台回测</p>
						<a ng-click='hashLocation("/complie")' class="">了解更多</a>
					</div>	
					<div class="top-three-top"></div>
					<div class="top-three-bottom"></div>
				</div>
				<div class="col-lg-2 col-sm-4 col-lg-offset-0 col-sm-offset-2 top_four">
					<div class="top-box">
						<i class="needbgi"></i>
						<h3>实盘模拟</h3>
						<p>一键实盘模拟</p>
						<p>云端托管，自动交易</p>
						<a ng-click='hashLocation("/mytable")' class="">了解更多</a>
					</div>	
					<div class="top-four-top"></div>
					<div class="top-four-bottom"></div>
				</div>
				<div class="col-lg-2 col-sm-4 top_two">
					<div class="top-box">
						<i class="needbgi"></i>
						<h3>交易复盘</h3>
						<p>日内交易，多日回测</p>
						<p>交易结果定量分析</p>
						<a ng-href="#/study" class="">了解更多</a>
					</div>	
					<div class="top-two-top"></div>
					<div class="top-two-bottom"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="zijin-index-body">
		<div class="zijin-index-item item-one">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow bounceInLeft" data-wow-offset="25">
						<h1>云端部署</h1>
						<br>
						<p>高性能云平台支持</p>
						<p>快速部署交易策略</p>
					</div>
					<div class="col-md-6 wow bounceInRight" data-wow-offset="25">
						<div class="zijin-index-image"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="zijin-index-item item-two">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow bounceInLeft" data-wow-offset="25">
						<div class="zijin-index-image"></div>
					</div>
					<div class="col-md-6 wow bounceInRight" data-wow-offset="25">
						<h1>自动交易</h1>
						<br>
						<p>策略指导产生交易信号</p>
						<p>交易记录全过程展现</p>
					</div>
				</div>
			</div>
		</div>
		<div class="zijin-index-item item-three">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow bounceInLeft" data-wow-offset="25">
						<h1>多策略多产品</h1>
						<br>
						<p>平台支持用户运行多个交易策略</p>
						<p>支持多品种产品交易</p>
					</div>
					<div class="col-md-6 wow bounceInRight" data-wow-offset="25">
						<div class="zijin-index-image"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="zijin-index-item item-four">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow bounceInLeft" data-wow-offset="25">
						<div class="zijin-index-image"></div>
					</div>
					<div class="col-md-6 wow bounceInRight" data-wow-offset="25">
						<h1>策略测试多样化</h1>
						<br>
						<p>策略代码可创建实盘交易，实盘模拟</p>
						<p>支持对历史行情进行长周期回测</p>
					</div>
				</div>
			</div>
		</div>
		<div class="zijin-index-item item-five">
			<div class="container">
				<div class="row">

					<div class="col-md-6 wow bounceInRight" data-wow-offset="25">
						<h1>策略效果定量分析</h1>
						<br>
						<p>对实盘及回测结果均支持量化分析及可视化展现</p>
					</div>
					<div class="col-md-6 wow bounceInLeft" data-wow-offset="25">
						<div class="zijin-index-image"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="zijin-index-item item-six">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow bounceInLeft" data-wow-offset="25">
						<div class="zijin-index-image"></div>
					</div>
					<div class="col-md-6 wow bounceInRight" data-wow-offset="25">
						<h1>智能量化模型 研究分享</h1>
						<br>
						<p>提供了我们量化组一些模型研究实例</p>
						<p>平台也支持用户及时分享自己的量化模型研究成果</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 4000
    })
  });
</script>
